[2016-12-12 18:57] saambarati commented on #898
@dschuff @pipcet Thanks for clearing it up. This makes total sense. I've been thinking that call_indirect was a way to call into the function index space. It makes much more sense that it's just a way to call into a table index.

[2016-12-12 18:57] #898 closed

[2016-12-12 19:43] Cellule commented on #896
It was also my understanding that when we merged the index space for functions it was possible to have imported functions used as start function.

[2016-12-13 07:19] rossberg-chromium commented on #897
@jfbastien, what's wrong with end = start + length there?

[2016-12-13 17:07] jfbastien opened #903 "OOM errors"
Forking from https://github.com/WebAssembly/design/pull/901#issuecomment-266523709

Should we call out out-of-memory errors separately, or do they cause Compile / Link errors? This seems similar to @gahaas' clarification w.r.t. stack error in #875.

[2016-12-13 17:42] flagxor commented on #903
We should do:
GrowMemory stays as is.
Everything else is up to the embedder, see Andreas' other verbiage.

[2016-12-13 17:45] flagxor commented on #900
Agreed, this needs a type error.
We should go through JS.md and double check other methods.

[2016-12-13 17:46] flagxor commented on #900
We should also clarify what the return value is (it's not really specified). V8 current returns what the grow_memory instruction does.

[2016-12-13 17:55] jfbastien opened #904 "current_memory doesn't seem useful"
I'm worried that when we add threads it'll be actively misleading because of TOCTOU (same mistake as the POSIX filesystem APIs). We'll have to make it a sequentially-consistent operation as well, to prevent IRIW problems, which means it's a tool to implement Dekker's (same as some library functions in C++).

It's probably better to drop it.

[2016-12-13 19:11] jfbastien opened #906 "|this| value in wasm -> JS function?"
Should we just make |this| undefined?

Similar to #900.

[2016-12-13 20:16] saambarati commented on #897
Why are zero sized segments simply not validation errors? Seems like validation errors should catch bugs. A zero sized segment sounds like a bug to me.

[2016-12-13 22:36] saambarati commented on #900
@flagxor Yeah, I hand't even thought about that. We should definitely specify the return value. My vote is to return `undefined` for anything that doesn't really need a return value, which is how I expect JS to normally behave. So my vote would be `undefined` for `grow(size)` as well.

[2016-12-13 22:36] saambarati commented on #899
@rossberg-chromium sounds good to me.

[2016-12-13 22:36] #899 closed

[2016-12-13 22:44] saambarati opened #907 "It's not clear in JS.md what values processing the Elements list creates during instantiation"
For example, lets consider the following JS program:
[code]

- Are the Web Assembly Function objects that get stored into table supposed to be exactly the same object that gets stored into the exports dictionary?

[2016-12-13 22:45] saambarati opened #908 "Validation errors for elements"
- Is it a validation error when an element will store to a provably out of bounds table index?
For example, this can be the case if the memory definition/import specifies a "maximum" field.

[2016-12-13 22:52] jfbastien commented on #908
We should come to the same conclusion as for Data segments in #897.

[2016-12-13 23:04] wanderer opened #909 "drop custom section names?"
I'm not sure what the point of custom section having identifier strings in the binary encoding. There is now way to validate that string. Shouldn't any identifying information be left up to the reader of the custom section?

[2016-12-13 23:12] jfbastien commented on #909
We may want a JS API to expose custom section bits, and since they'll need *some* way of identifying themselves this approach seems as good as any.

[2016-12-13 23:18] saambarati commented on #897
Also, we should come up with an answer to an elem_type with a num_elem of zero.

IMO, this should also be a validation error.
https://github.com/WebAssembly/design/blob/master/BinaryEncoding.md#element-section

[2016-12-13 23:29] saambarati opened #910 "Should it be valid to have empty Data/Element sections"
Right now, I think it's valid to have zero elem_type in an Element section. Should we allow this?
Ditto for Data.

https://github.com/WebAssembly/design/blob/master/BinaryEncoding.md#element-section

[2016-12-13 23:30] jfbastien commented on #910
Pretty much all sections. Code without Code? etc.

[2016-12-14 01:34] saambarati commented on #906
+1 for `undefined`

[2016-12-14 01:37] jfbastien commented on #909
To be clear: https://github.com/WebAssembly/design/blob/master/JS.md#webassemblymodulecustomsections

[2016-12-14 01:50] jfbastien commented on #906
`undefined+1` would be `NaN`. 🙃

[2016-12-14 01:55] pipcet commented on #910
I was surprised that right now, it's illegal to have a zero-table table section if there is a table import, or a zero-memories memory section if there is a memory import. If there is no import, though, zero tables are okay.

I think it would be cleaner to allow those, and zero-element sized sections generally. I don't think that would cost consumers anything, and producers could cut a corner.

(By

[2016-12-14 02:14] wllang commented on #909
@wanderer They need some convention to identify one type from another. For example, a tool looking for data in a particular type of section. Otherwise it would be up to the web community to sort it out, how would you do it, add signatures to sections and hope there are no collisions?

[2016-12-14 02:41] wanderer commented on #909
good points!

[2016-12-14 02:41] #909 closed

[2016-12-14 03:53] wllang commented on #796
FWIW: Wasm has a particular design, which is explained in just a few very significant words "except that the nesting restriction makes it impossible to branch into the middle of a loop from outside the loop".

If it were just a DAG then validation could just check that branches were forward, but with loops this would allow branching into the middle of the loop from outside the loop, hence the nest

[2016-12-14 05:04] saambarati commented on #910
@pipcet My gut feeling is to go in the opposite direction. It's likely a bug to have zero sized sections of anything that are meaningful only if they have a size. So my vote would be to make zero sized sections an error.

[2016-12-14 05:55] pipcet commented on #910
@saambarati I'm not sure I can think of a common bug that would result in a valid, but zero-sized, section when a valid non-zero-sized section is the intended output. Instead, it seems to me more likely that the case in which there is code but no data or data but no code isn't usually well-tested, and might well result in a zero-sized section.

I think a simple producer should only be expected to

[2016-12-14 07:15] rossberg-chromium commented on #900
Returning `undefined` sgtm.

[2016-12-14 07:20] rossberg-chromium commented on #907
Yes, they have to be the same. The wording of the algorithm in JS.md is pretty explicit on that, note the construction and querying of the `funcs` list.

[2016-12-14 07:27] rossberg-chromium commented on #906
I don't think there is any other option if we want to have any consistency with function calls in JavaScript.

Nit: You mean to refer to the _receiver_, not the `this` binding, which is an internal detail. Not all JS-side functions even have a notion of the latter, e.g. primitives. Moreover, sloppy functions convert an undefined receiver to the global object (themselves).

[2016-12-14 07:30] rossberg-chromium commented on #908
We dropped static check for this when we introduced importable tables/memories and globals as offsets. In the general case you cannot check, it's not worth making a special case here.

[2016-12-14 07:42] rossberg-chromium commented on #910
I don't see any good reason for introducing all these special cases for zero-sized things. It generally is unnecessary hassle to disallow them, for both producers and consumers. Catching internal problems in producers is not the purpose of validation.

@pipcet, where do you read that zero-sized table sections are illegal in the presence of an import? The spec interpreter makes no such restriction.

[2016-12-14 07:44] saambarati commented on #908
@rossberg-chromium Yeah I agree. I wasn't really thinking about the init_expr as being the offset.

[2016-12-14 07:44] #908 closed

[2016-12-14 08:01] saambarati commented on #907
@rossberg-chromium I'm specifically talking about the elements section. There is hardly any text inside Instance construction talking about the Element section, and it doesn't reference the issue I stated above:
https://github.com/WebAssembly/design/blob/master/JS.md#webassemblyinstance-constructor

The querying you're talking about is done for function imports/exports and table exports. It's not

[2016-12-14 08:08] saambarati commented on #910
@rossberg-chromium I think it's inevitably something that needs to be thought about. Would an elem_segment of zero count but an offset that would be beyond the table's size cause a RangeError during instantiation? If not, the text that talks about RangeErrors needs to be very specific about how it does its checks. If it is an error, again, this text needs to be very specific about how it does its

[2016-12-14 08:16] rossberg-chromium commented on #907
@saambarati, I don't quite understand, your example _does_ test function exports against table exports, so AFAICT, its behaviour is fully specified. And other than that, elements don't have any observable identity, so what is missing?

[2016-12-14 08:24] rossberg-chromium commented on #897
@saambarati, can you clarify what you mean by that? How is the elem_type dependent on the table size?

[2016-12-14 08:31] rossberg-chromium commented on #910
You seem to be assuming it hasn't been thought about yet. :) There are tests for it in the test suite.

But I agree for the specific case you mention, that's the corner case I pointed out in my earlier comment:

https://github.com/WebAssembly/design/issues/897#issuecomment-266432753

I agree that this one requires a choice, and I'm happy to revisit the current spec's choice.

[2016-12-14 09:08] pipcet commented on #910
@rossberg-chromium Module.md says:

(and equivalently for tables). SpiderMonkey implements this faithfully and complains about a zero-sized table section in the presence of an import.

Even if that restriction is to remain, the "thus" doesn't make sense. You're right that what's probably intended is "... or table definition". (Note that each sentence occurs twice for a total of four places that ne

[2016-12-14 09:12] saambarati commented on #897
@rossberg-chromium I used the wrong name. I meant elem_segment not elem_type

[2016-12-14 09:14] saambarati commented on #907
@rossberg-chromium My example doesn't export a table. It imports a table and has the element section write an imported function into index zero in the table

[2016-12-14 09:21] rossberg-chromium commented on #910
@pipcet, thanks, yes, this looks very much like an oversight. It wasn't adapted when we moved from single table sections to multi-table sections. I'll create a PR.

[2016-12-14 09:33] rossberg-chromium commented on #907
@saambarati, ah, yes, you're right, thanks! Probably the fix is to include all elements of imported tables in `funcs`and later run over the table to update it, independent of whether it is exported. I'll try to prepare a PR.

But to clarify the question in the abstract, the overarching idea is that every Wasm function should be wrapped into a JS function at most once.

[2016-12-14 10:54] wllang commented on #796
There is some interesting discussion on irreducible loops here http://bboissin.appspot.com/static/upload/bboissin-thesis-2010-09-22.pdf

I did not follow it all on a quick pass, but it mentions converting irreducible loops to reducible loops by adding an entry node. For wasm it sounds like adding a defined input to loops that is specifically for dispatching within the loop, similar to the current

[2016-12-14 13:07] rossberg-chromium commented on #907
See #911.

[2016-12-14 17:08] #896 closed

[2016-12-14 17:17] jfbastien commented on #910
Since we're doing *something* about zero-sized things already, I would rather do that something up-front, at validation time.

[2016-12-14 17:37] rossberg-chromium commented on #910
@jfbastien, we never need to do anything specific for zero-sized things, it always falls out naturally from the general rules. That includes the specific case mentioned above. However, in that case the behaviour depends on what general validation criterion we choose for segment bounds.

There are basically two choices for that one:

1. Require that the segment end is no larger than the size of the

[2016-12-14 18:23] congsan commented on #112
![e](https://cloud.githubusercontent.com/assets/20281266/21194813/e933b47a-c263-11e6-87ec-216b0642ab7c.jpg)

The ideals are:
1. Regtangular: 16*9 -> multimedia
2. The W shape -> web
3. 3 Register with ascii code denote for A, S, M
4. Grey area represent for memory

But it look poorly, so i change it so much different from the beginning with another concept. I add some smartphonefull to it.

![eee]

[2016-12-14 18:35] rossberg-chromium commented on #910
@pipcet, hm, not sure I understand your scenario. How is the zero case different (more difficult even?) from the non-zero case? What strategy do you envision for the general case that doesn't work for zero?

It's unclear to me how null pointers relate, but note that there actually is no such thing in Wasm. That's a detail of compiling certain languages to it, nothing built in, so nothing we can ma

[2016-12-14 18:59] pipcet commented on #910
@rossberg-chromium In the general case, the dynamic loader would presumably just use `malloc(size)`. If `size` is 0, that might not be a valid pointer (as you point out, it might be NULL but not LMA 0, or it might be NULL at LMA 0 and there might be a future extension to unmap LMA 0, or it might be an invalid pointer by implementation of `malloc`, which `free` recognizes as such and ignores).

So

[2016-12-14 19:50] binji commented on #904
I assumed we were not going to allow `grow_memory` on shareable linear memories, because of various synchronization issues. If that's true, then `current_memory` is fine for both.

[2016-12-14 20:45] jfbastien commented on #904
I disagree, and think we'll allow growing SABs. It'll likely require threads checking in to avoid issues you mention, but disallowing it because it's hard seems to be the wrong tradeoffs for developers.

[2016-12-14 21:34] gahaas commented on #904
I think the only good reason to remove `current_memory` is that `current_memory` can be replaced by `grow_memory(0)`. Other than that I think all problems we may get with `current_memory` we will also get with `grow_memory(0)`.

[2016-12-14 21:42] jfbastien commented on #904
`grow_memory` already has the expectation that calling it concurrent will grow to at least what was requested, and it already has the implicit guarantee of being sequentially-consistent (because it's related to memory allocation, it's effectively a syscall).

To draw another parallel to C++: `std::shared_ptr` has methods `use_count` and `unique`. Those are error prone in multi-threaded environment

[2016-12-15 08:14] rossberg-chromium commented on #910
@pipcet, I think this is mixing up several levels of abstractions.

First, segments are not allocated. They only initialise memory in a
prexisting memory. Are you somehow presuming a loader that would use this
information to allocate the needed memory? Then clearly it cannot make a
single allocation per segment, zero-sized or not, since there can only be
one memory. In general, such an approach se

[2016-12-15 08:43] pipcet commented on #910
@rossberg-chromium Okay, I'm confused now. A `data_segment` has a base address and a size. When loading a dynamic module, we need to assign an address to the base address, which is usually set from an immutable global. That's allocation. What else would you call it? You assign a location to the global. "Allocating a segment", to me, means assigning a value to the immutable global which is used in

[2016-12-15 10:47] rossberg-chromium commented on #910
@pipcet, I think you are misunderstanding the concept of data sections. There is no allocation involved. They essentially just provide convenience for defining a sequence of stores to locations in the linear memory, which the program must have defined or imported beforehand in some way.

Your pseudo code cannot possibly work with general Wasm modules. The base address for a data segment generally

[2016-12-15 12:10] pipcet commented on #910
@rossberg-chromium I think what you seem to be describing as some kind of special case is in fact what I am doing, and, as far as I can think, the only reasonable way of doing things.

Perhaps I should have been clearer that I am actually building and using dynamically-linked wasm modules (though I fully expect, and am looking forward to, that everything will break as the MVP spec changes some mor

[2016-12-15 12:38] rossberg-chromium commented on #910
@pipcet, I agree it is a reasonable way of emulating OS-level ABIs, but as
you saw, Wasm isn't restricted to that. Other clients might make completely
different use of linear memories, and that's fine, we intentionally don't
prescribe a memory management strategy.

haven't seen an argument in favor of it—it's either nil-nil or nil-one
against), then hastily change to choice 1

Hm, I'm confused now

[2016-12-15 12:48] pipcet commented on #910
Sorry, I meant to say "stay with choice 1" and "hastily change to choice 2".

It also wasn't clear to me you're actually in favor of choice 1.

Minor nit: technically, of course, moving from choice 1 to choice 2 is a breaking change, because the *application* can determine whether or not an address is valid by the trick of trying to load a zero-sized data segment just below it. However, it's suffi

[2016-12-15 13:01] rossberg-chromium commented on #910
@pipcet, well, that's a general problem: as soon as you enable any form of reflection or meta programming, there strictly speaking is no longer such a thing as a non-breaking change, because you can always programmatically test for the _absence_ of a feature. So clearly, we need to allow some slack in the definition and say that there is no guarantee that invalid programs stay invalid in the futur

[2016-12-15 22:52] wllang commented on #910
@pipcet `new_segment->offset = size ? malloc(size) : NULL;` seems the appropriate solution to me. `malloc` can be written to not return an allocation at zero, and probably would be best not to for many reasons. This solves your specific issue without constraining wasm.

I would strongly recommend code be written to not use the first wasm page of memory as then it will be more likely that the linea

[2016-12-15 23:22] jfbastien commented on #889
Is this resolved now that we have WebAssembly.LinkError?

[2016-12-15 23:23] pipcet commented on #910
@wllang Indeed, `size ? malloc(size) : NULL` seems like the natural solution to me, but it depends on `NULL` being mapped to a valid address, or else on accepting an invalid address as base address for a zero-sized segment.

I'm not sure whether equating wasm linear memory addresses and process virtual memory addresses really would help performance significantly. Do you have numbers for that?

I s

[2016-12-15 23:24] kmiller68 opened #913 "When should i64 exceptions happen in calls"
When calling a Wasm function that has an i64 as and argument or return value there are four places an exception can occur:

1. When calling an exported Wasm function that takes i64 argument from JS.
1. When calling an exported Wasm function that returns an i64 result from JS.
1. When importing a JS function to a Wasm module that takes an i64 argument.
1. When importing a JS function to a Wasm modu

[2016-12-15 23:30] jfbastien commented on #878
Can we close this?

[2016-12-15 23:31] jfbastien commented on #867
This is done, closing.

[2016-12-15 23:31] #867 closed

[2016-12-15 23:31] jfbastien commented on #860
This idea hasn't gone anywhere. Can we close?

[2016-12-15 23:33] jfbastien commented on #844
@s3ththompson ping?

[2016-12-15 23:36] pipcet commented on #878
Yes! Thanks again for convincing me that what wasm provides is good enough for portable software.

[2016-12-15 23:36] #878 closed

[2016-12-15 23:40] jfbastien commented on #786
I believe this is resolved.

[2016-12-15 23:40] #786 closed

[2016-12-15 23:46] jfbastien commented on #746
Has this been addressed? IIUC some tests are still missing from the spec repo?

[2016-12-15 23:49] jfbastien commented on #658
Has this been resolved?

[2016-12-15 23:50] jfbastien commented on #623
I think this is long done. @rossberg-chromium please reopen if that's not the case.

[2016-12-15 23:50] #623 closed

[2016-12-15 23:51] jfbastien commented on #473
This is done.

[2016-12-15 23:51] #473 closed

[2016-12-15 23:52] wllang commented on #860
@jfbastien Not 'gone anywhere' does not mean that it should not be applied. There are some views that the use case is not relevant, that no one should want to concatenate binaries or should add some other container if they do, but the technical fact remains that simply concatenating them is one trivial container, so why not make the trivial change to support it. It is frustrating that such issues

[2016-12-16 00:34] wllang commented on #860
@jfbastien If you are going through these and see that they clearly block the MVP, such as the incompatible encoding change in this issue, could you please consider tagging them as such. If you do not want to conflate what technical blocks the MVP with what has been agree on then perhaps create a separate tag e.g. 'would block the MVP'.

[2016-12-16 00:47] wllang commented on #658
Looks stale or resolved to me.

[2016-12-16 01:08] jfbastien commented on #860
@wllang I do not plan to organize these issues. Happy if someone else does.

[2016-12-16 01:47] binji commented on #658
Yes, I think this is both resolved and stale. :)

[2016-12-16 01:47] #658 closed

[2016-12-16 02:30] wllang commented on #860
@jfbastien Well do you expect 'someone else' from the small subgroup controlling the positions of Chair and with authority over this repo to even organize these issue? If not then can the group have back control of the Chairs and this repo?

[2016-12-16 07:00] rossberg-chromium commented on #889
I would think so. @saambarati, anything missing?

[2016-12-16 08:27] rossberg-chromium commented on #913
Isn't this pretty unambiguous from JS.md's definition of ToWebAssemblyValue? For i64, you immediately throw.

[2016-12-16 08:35] rossberg-chromium commented on #913
Ah, scratch that. I take it you are not asking what the specified semantics is but whether we should change it, specifically, the spec of the [[Call]] method of Exported Function Objects?

[2016-12-16 17:43] kmiller68 commented on #913
@rossberg-chromium Yeah, I would like to change the semantics. I think we should also change the spec for Imported JS Function Objects as well. Since, at least for imports we know that the Imported JS Function Object cannot handle an i64, thus we should fail to instantiate. e.g.

<pre>(module (import "foo" "bar" (func (param i64)) )</pre>

passed to

<pre>new WebAssembly.instance(module, { foo: {

[2016-12-16 18:30] wanderer opened #915 "why no `tee_global`?"
why is there no `tee_global` equivalent to `tee_local`?

[2016-12-16 18:51] dschuff commented on #915
I would think most of the time you'd want to copy the global into a local, rather than another global, wouldn't you?

[2016-12-16 18:53] saambarati opened #916 "What's the return value of Memory.prototype.grow"
https://github.com/WebAssembly/design/blob/master/JS.md#webassemblymemoryprototypegrow
Says to return the value of:
https://github.com/WebAssembly/design/blob/master/Semantics.md#resizing
I'm not quite sure what that means. Is the link stale? Should it be to the ML interpreter here:
https://github.com/WebAssembly/spec/blob/e7632dc00c7ea0743d64a42d1ed3c39ed3cd5dfa/interpreter/spec/eval.ml#L213
?

A

[2016-12-16 18:56] saambarati opened #917 "Table.prototype.grow needs to specify a return value"
It doesn't right now:
https://github.com/WebAssembly/design/blob/master/JS.md#webassemblytableprototypegrow

[2016-12-16 19:00] saambarati opened #918 "What's the deal with the TODO inside JS.md"
https://github.com/WebAssembly/design/blob/master/JS.md#todo

I don't know what this is addressing, but we should either delete it or address it.

cc @lukewagner

[2016-12-16 19:05] saambarati commented on #917
My vote would be for returning `undefined`. Like Memory.prototype.grow, I'm not sure what else would  make sense.

[2016-12-16 19:56] binji commented on #915
@dschuff I would assume that `tee_global` would do a `store_global` but keep the value on the stack, like `tee_local`.

@wanderer IIRC, we discussed adding it, but decided it could be added later.

[2016-12-16 19:59] binji commented on #917
Well, the `grow_memory` operator returns the old page size, so I asssume that `Table.prototype.grow` would as well.

See https://github.com/WebAssembly/design/blob/master/Semantics.md#resizing

[2016-12-16 21:51] lukewagner commented on #917
Agreed, this is missing from JS.md and that, for the same reasons that `grow_memory`/`Memory.prototype.grow` return the previous size, so should `Table.prototype.grow`.  (That's actually what we're currently doing in SM.)

[2016-12-16 21:52] wllang commented on #915
Some of the benefit would be had from the more general `pick` operator which allows a copy of a stack value to be made and thus allows keeping a definition on the values stack. There might remain an encoding efficiency gain, but given that the stores to linear memory do not even have these variants it might not be a significant encoding efficiency gain. In the current state of the design this code

[2016-12-16 21:58] lukewagner commented on #918
Yeah, that TODO list was longer when JS.md was first started.  Probably it'll be quite a while before adding cyclic imports, so I'm fine removing it.

[2016-12-16 22:00] lukewagner commented on #916
When wasm gets threads, the return value is useful for knowing which ranges of bytes were just claimed by this `grow` operation and not some interleaved `grow_memory` from a different thread.

[2016-12-16 22:07] wllang commented on #916
It's to make it an atomic operation, see the discussion in https://github.com/WebAssembly/design/issues/525

[2016-12-16 22:10] lukewagner commented on #913
For exported functions, it sounds good to throw if there is `i64` in any argument/return slot at the beginning of the [[Call]].

For imported functions, I think it would be more useful to the developer to allow instantiation to succeed but unconditionally throw at the beginning of calling the import (symmetric to exported functions).  One reason I can think of is that, if and when we get the abili

[2016-12-16 22:19] wllang commented on #910
@pipcet For some test results and analysis of the benefits on placing the linear memory at absolute zero in the process address space see https://github.com/WebAssembly/design/issues/334  System kernels often restrict use of the low pages so to take advantage of this practically requires the wasm code to avoid using the first page. Obviously it only works for one linear memory per process, but I c

[2016-12-16 22:38] lukewagner commented on #904
@binji Just to answer your question in a bit more detail: I think we only want to allow sharing a `Memory` when that memory has a declared `maximum` field and this allows an impl to reserve as much as it can (up to `maximum` once, up front) and never have to do a moving `realloc`.

@jfbastien That's a good question.  Practically speaking, the only code that will use `current_memory` is the impl of

[2016-12-16 22:51] binji commented on #904
@lukewagner thanks, that makes sense.

Removing `current_memory` doesn't completely fix the situation, because if the memory is exported (or imported) you can just access the buffer's byteLength, right?

[2016-12-16 22:52] jfbastien commented on #904
That's outside of wasm 😉
But yeah that's up to SAB.

[2016-12-16 22:57] kripken commented on #904
@lukewagner: looks like asm2wasm doesn't (as you said, the malloc bookkeeping is done elsewhere) but the wasm backend might, s2wasm has code to translate it and it is in the s2wasm tests. Perhaps that's out of date though, @sunfishcode or @dschuff should know.

[2016-12-16 23:03] sunfishcode commented on #904
The s2wasm support is there because we added a way to emit current_memory through LLVM, however I'm not aware of anyone making use of it yet.

[2016-12-17 00:35] lukewagner commented on #897
Agreed with @rossberg-chromium's answers above which also match the SM impl with the already-noted exception of the weird zero-length segment rules.  I'd rather not take special action to disallow zero-length anything since I can see this annoying more than helping.  Rather, I think the "obvious" range check `if (seg.offset > length || length - seg.offset < seg.length) fail()` should reject out-of

[2016-12-17 04:00] sebmarkbage opened #919 "Tagged GC Pointers"
I noticed in [the GC doc](https://github.com/WebAssembly/design/blob/master/GC.md) that there is no mention of tagged pointers. I wanted to make the case for it. When compiling languages that might heavily rely on tagged unions (such as Rust or OCaml) with GC interop you will have to store the tag as a separate field which can be quite inefficient.

Even as part of the initial proposal for opaque

[2016-12-17 04:30] wllang commented on #919
You can do this already in the linear memory, just mask the pointer before use. I have been battling for years now to get this use case considered, and could use support, and I have a plan.

[2016-12-17 04:50] saambarati commented on #917
Ok sounds good to me. We will do that in JSC. Let's just make sure we specify it in the API

[2016-12-17 04:53] saambarati commented on #900
It seems more people are in favor of specifying Table.prototye.grow to match Memory.prototye.grow and return the old size. Let's move discussion to this thread:
https://github.com/WebAssembly/design/issues/917

[2016-12-17 04:53] #900 closed

[2016-12-17 04:54] saambarati commented on #916
Ok. Sounds good to me. I'll implement returning the previous size inside JSC. Is it returning the previous size in bytes or pages?

[2016-12-17 04:56] saambarati commented on #913
@lukewagner Why not relax this requirement later if we find your scenario useful. If we allow it now, we're effectively stuck with it forever.

[2016-12-17 13:55] rossberg-chromium commented on #916
Returning the previous value SGTM.

[2016-12-17 13:58] rossberg-chromium commented on #917
Whatever we do, it clearly should match Memory.p.grow.

[2016-12-17 14:05] rossberg-chromium commented on #913
Making it an immediate error on call SGTM. I'd also be okay with making it a link error, but I can see @lukewagner's argument as well. I guess I'm fine either way.

[2016-12-17 14:22] rossberg-chromium commented on #897
@lukewagner, I don't think the first half of the condition is even needed, it should be implied by the second (which I would write as `seg.offset + seg.length > length`).

All assuming proper arithmetics, of course, not wrap-around.

[2016-12-17 14:26] rossberg-chromium commented on #841
I think this should remain unchanged. The current behaviour, odd as it may be, is in line with what JS does elsewhere.

[2016-12-17 14:30] rossberg-chromium commented on #825
The current behaviour is consistent with JS (and the DOM spec), we shouldn't diverge.

[2016-12-17 15:40] jfbastien commented on #825
Unfortunate, but fine.

[2016-12-17 15:40] #825 closed

[2016-12-17 15:47] jfbastien opened #920 "Identity of re-exported imports"
There may be other places where identity isn't well defined, @saambarati and I have a few other issues on this.

As @lukewagner says here: https://github.com/WebAssembly/design/pull/911#issuecomment-267727506

For the current spec text, the question is whether this assert holds:
[code]
In SM the assert passes, because we're basically saying that each (instance, function-index) pair is given a uniq

[2016-12-17 15:53] jfbastien commented on #919
@sebmarkbage do you have an outline for the enum proposal?

For tag: would you rather have the VM give you a property "N bits of tag available" and anything above you do handle yourself, or auto-magically use side-storage if you exceed an unspecified limit?

[2016-12-17 17:13] rossberg-chromium commented on #920
Actually, upon rereading JS.md, I think Luke was misreading the current text. In particular, Step 4.iii.1, which applies to all imports that are not already Export Exotic function Objects, says:

That is, for every JS import a _new_ host function value will be created unconditionally. And as pointed out in the note about equality of closure values, this shall be interpreted as being different from

[2016-12-17 17:27] rossberg-chromium commented on #919
@sebmarkbage, we are thinking about the possibility (although you probably don't primarily mean tagged pointers but tags in object headers, plus tagged integers for plain enums). It is gonna be rather tricky, though, because of the diversity of VMs and architectures, and would essentially require making both sums and products primitive in the Wasm type system. Whether that can work out is hard to

[2016-12-17 23:13] sebmarkbage commented on #919
@jfbastien I'm not sure yet whether it would be better to be in control or have it built in. Now I also think that it might be better to use object header tags than tagged pointers in some cases. Generally I like being in control as an author but in this case you might have to ship a lot of extra code for each branch so I think I'm leaning towards automagically use side-storage.

I can't seem to f

[2016-12-17 23:37] lukewagner commented on #920
Happy to see we're agree on the intended meaning here.  So I was interpreting "host function" to mean "JS function", but it seems like there is some sort of intermediate *thing* here with an identity that is neither a JS object nor a wasm function.  In particular, the hyperlink from "host function" to the [`HostFunc`](https://github.com/WebAssembly/spec/blob/master/interpreter/spec/instance.ml#L9)

[2016-12-17 23:40] lukewagner commented on #897
Hehe, yes, I lifted my condition from C++ code :)

[2016-12-17 23:47] lukewagner commented on #913
@saambarati If we did that then, realistically, we'd still have the "throw on instantiate" behavior right up until we wanted to write the `i64` polyfill at which point in time it's too late; the polyfill won't work.

Is there any underlying impl challenge with the throw-eagerly-on-call?  At least for us, we just end up in a stub that passes the arg array as an array of unions to C++ which then can

[2016-12-17 23:49] lukewagner commented on #916
Pages (to match [`grow_memory`](https://github.com/WebAssembly/design/blob/master/Semantics.md#resizing)).

[2016-12-17 23:51] lukewagner commented on #917
(btw, I'm accumulating these JS.md TODOs on a list I'll get to when I'm back up to speed, but I'm quite happy for anyone else to make PRs first)

[2016-12-18 00:06] lukewagner commented on #904
Ok, so then this probably wouldn't be much of a breaking change, and one we could do in-place (noting the change on webassembly.org/roadmap).

One thing I just noticed is that technically, according to current semantics, `grow_memory`/`Memory.grow`, even with a delta of 0, detach the current `ArrayBuffer` and create a new one with the "new" size to alias `Memory`.  Thus, `grow_memory(0)` isn't an

[2016-12-18 00:11] lukewagner commented on #915
IIRC, there wouldn't have even been a `tee_local` were it not for the fact that `get_local`/`set_local` are such a huge proportion of total bytecode size that `tee_local` allows major size wins.

[2016-12-18 00:14] lukewagner commented on #906
Agreed on `undefined` and that we should call this out explicitly in the spec.

[2016-12-18 00:15] wllang commented on #919
@rossberg-chromium Could you please be more specific when you use the term "we" as in "we are thinking about" in future. As far as I am aware no thoughts on this matter have been under discussion by this community group and I don't want the work of this community group misrepresented. For example you may wish to word this as 'The v8 team' in future or to create a name for a subgroup giving the mem

[2016-12-18 00:44] jfbastien commented on #920
To make sure I understand waht @lukewagner is saying: you have a unique JS object for each Instance's export, right? That sounds fine.

[2016-12-18 01:57] lukewagner commented on #920
@jfbastien Correct, where "Instance's export" includes all functions in `elem` sections and thus accessible via Exported Function Objects `Table.get`.

[2016-12-18 03:06] congsan commented on #112
![javascript-glue](https://cloud.githubusercontent.com/assets/20281266/21291209/9187f7ce-c509-11e6-9ce3-073d38c9fedf.jpg)

[2016-12-18 03:17] congsan commented on #112
![javascript-glue](https://cloud.githubusercontent.com/assets/20281266/21291276/2ffe452e-c50b-11e6-84dc-9cc070685c5b.jpg)

[2016-12-18 03:20] congsan commented on #112
![javascript-glue](https://cloud.githubusercontent.com/assets/20281266/21291289/a849fa8c-c50b-11e6-9d8d-0e120dd3eaf0.jpg)

[2016-12-18 03:58] congsan commented on #112
![jg](https://cloud.githubusercontent.com/assets/20281266/21291408/f13d37cc-c510-11e6-9371-424a15e0755e.jpg)

[2016-12-18 04:14] congsan commented on #112
![jg](https://cloud.githubusercontent.com/assets/20281266/21291464/2f17270e-c513-11e6-8bf7-cd9217b4a6d5.jpg)

[2016-12-18 05:51] littledan commented on #919
I'd suggest pursuing tagged pointers in a way that's decoupled from value types or typed objects. For example, you may want to restrict to 2-4 tag bits here, whereas an ADT added to JavaScript should not surface such a restriction. cc @tschneidereit

[2016-12-18 07:29] congsan commented on #112
![jg](https://cloud.githubusercontent.com/assets/20281266/21292188/564037ce-c52e-11e6-89e3-f1b6499ef257.jpg)

[2016-12-18 07:31] congsan commented on #112
![jg](https://cloud.githubusercontent.com/assets/20281266/21292196/ba01039c-c52e-11e6-898a-0ea79a35238f.jpg)

[2016-12-18 08:03] congsan commented on #112
![jg](https://cloud.githubusercontent.com/assets/20281266/21292309/1debf0ca-c533-11e6-88e7-99bb88ab79b6.jpg)

[2016-12-18 08:24] saambarati commented on #913
@lukewagner This isn't any harder or easier for us implement. I personally like the style of throwing as many errors as we can during instantiation, but I'm not tied to doing that here. I'm also okay with the behavior of throwing once the imported JS callee is called.

[2016-12-18 12:18] olalonde commented on #112
<img width="303" alt="roflassembly" src="https://cloud.githubusercontent.com/assets/416585/21293426/1518be1a-c4d9-11e6-8bd3-b22f69dd427b.png">

[2016-12-18 21:32] jfbastien commented on #903
As a clarification: I think OOM on `WebAssembly.validate` should be an OOM exception, not a validation failure: we may never be able to compile the module, but it's not fundamentally invalid. Pretty much the only valid usage of `validate` is to do feature detection, it would be odd to "lie" on OOM.

Again, this is a corner-case.

[2016-12-19 00:17] congsan commented on #112
@olalonde
:))

The simplìfying may be to much, but the ideal is doing that extremely but still keep meaning. The simplified icon still keep some important concept including W shape, javascript was wrapped inside or it is the core. It also is saw that a block inside block, module inside module

[2016-12-19 00:20] congsan commented on #112
@olalonde
:))

The simplìfying may be to much, but the ideal is doing that extremely but still keep meaning. The simplified icon still keep some important concept including W shape, javascript was wrapped inside or it is the core. It also is saw that a block inside block, module inside module. It also have the button waiting for a click

[2016-12-19 00:25] congsan commented on #112
@olalonde
:))

The simplìfying may be to much, but the ideal is doing that extremely but still keep meaning. The simplified icon still keep some important concept including W shape, javascript was wrapped inside or it is the core. It also is saw that a block inside block, module inside module. It also have the button waiting for a click. I think i will put it in asymmetric position represent the a

[2016-12-19 01:41] congsan commented on #112
@olalonde
:))

The simplìfying may be to much, but the ideal is doing that extremely but still keep meaning. The simplified icon still keep some important concept including W shape, javascript was wrapped inside or it is the core. It also is saw that a block inside block, module inside module. It also have the button waiting for a click. I think i will put it in asymmetric position represent the a

[2016-12-19 04:30] congsan commented on #112
@olalonde
:))

The simplìfying may be to much, but the ideal is doing that extremely but still keep meaning. The simplified icon still keep some important concept including W shape, javascript was wrapped inside or it is the core. It also is saw that a block inside block, module inside module. It also have the button waiting for a click. I think i will put it in asymmetric position represent the a

[2016-12-19 10:08] titzer commented on #903
What JF says sounds reasonable to me.

On Sun, Dec 18, 2016 at 10:32 PM, JF Bastien <notifications@github.com>
wrote:

[2016-12-19 10:25] titzer commented on #919
When @rossberg-chromium talks about "we" he means in informal settings amongst people working on WASM. Considering that I sit 3 meters away from him, it seems like a lot of overhead to establish specific subgroup to bless this communication :-)

I think tagging is less general than sum types. Tagging is also unfortunately tied to the underlying machine's word width in bits. However, unrestricted s

[2016-12-19 13:37] titzer commented on #904
I don't see the value of removing `current_memory`. Since this is semantically equivalent to `grow_memory 0`, then it has no more race conditions than `grow_memory 0` would. The original rationale for adding this, as I recall, was not to overload `grow_memory` (a state changing operator) with a mode where it acts like a query.

[2016-12-19 15:27] lukewagner commented on #903
Agreed; that also matches what we've done.

[2016-12-19 15:30] lukewagner commented on #919
@titzer Coincidentally, "we" (@lars-t-hansen, I and some other wasm folks) were discussing the same basic idea of some kind of restricted sum that always allowed a tagged-word representation.

[2016-12-19 15:32] lukewagner commented on #904
(Well, *not* semantically equivalent to `grow_memory 0`, as I just mentioned, but I think that is more of a reason to *keep* it.)

[2016-12-19 16:52] jfbastien commented on #904
@titzer as I detailed above, when we add threads it will not have the same synchronization guarantees unless we make it more than a mere relaxed load.

The point @lukewagner makes is interesting though. It detaches the `ArrayBuffer`, but the `WebAssembly.Memory` is still intact right? It would be a bug if:

1. Share `WebAssembly.Memory` across multiple `WebAssembly.Instance`
1. One `WebAssembly.In

[2016-12-19 17:01] lukewagner commented on #904
@jfbastien The *`Memory`* is always valid/coherent between all sharing `Instance`s, it's just that any extant *`ArrayBuffer`* s that are *viewing* the `Memory` get detached on resize.  So in your example, there is no problem.

You're also right that when multiple `Instance`s share the same `Memory`, their mallocs need to coordinate so that there is only one malloc heap; but this is just a fundamen

[2016-12-19 17:09] pipcet commented on #904
Well, concurrent `malloc` implementations based on interleaved `sbrk` calls are a thing, so it might be better to say that `sbrk` needs to be co-ordinated across instances, probably by keeping the value of the current brk in a globally-known absolute location in memory (that's what I do).

I can think of a single use case that requires a reasonably fast `current_memory` opcode: testing whether a p

[2016-12-19 17:28] lukewagner commented on #904
@pipcet Agreed that malloc impls will need their own synchronized internal bookkeeping.  That's a good use case for which `current_memory` would be perfectly suitable.

[2016-12-19 17:43] jfbastien commented on #904
Agreed that's what we want. I want to ensure that's what the spec says.

Right, that's why I'm asking: is `current_memory` useful in this case? I still think not.

I don't think that's what was should be done: there should be a single, dynamically-linked, `heap.wasm` module which owns memory. It exposes `mmap` and friends and does all the bookkeeping.

[2016-12-19 18:33] pipcet commented on #904
@jfbastien Can you explain in what sense `heap.wasm` would be dynamically-linked? It seems to me that any dynamic loader worthy of the name would need memory management facilities (not very complicated ones) to load `heap.wasm`, so there would no longer be a single module owning memory.

I also fail to see why `mmap` would be a good interface given our very limited memory model; it seems to me we

[2016-12-19 18:45] jfbastien commented on #904
@pipcet you need some module which tracks total heap size, and which blocks are allocated / free'd. `heap.wasm` could be that owner: all other dylibs ask it for memory (hence `mmap`, but call it `malloc` if you want) and it hands it out, calling `grow_memory` if needed.

Why even expose something in the ABI? I'd rather have `heap.wasm` own memory, it hands out memory ranges through its `mmap` / `m

[2016-12-19 20:51] lukewagner commented on #904
@pipcet Well if one wants to test whether a given pointer is in-bounds, one may not know/care what malloc (or other memory mgmt scheme) is being used.  For that use `current_memory` would be ideal.

[2016-12-20 05:51] qwertie opened #921 "Make file header into a valid section"
In #860 I suggested changing the 8 header bytes of Wasm files to

    00 06 04 77 61 73 6D 01

This makes the header appear to be a valid user-defined section with the name "wasm".

The idea is to view the Wasm format as an instance of a more general "list of sections" or "LOS" format. Because files in LOS format have a header that is also a valid section, LOS files can be concatenated. Concatenat

[2016-12-20 09:13] wllang commented on #921
@qwertie If you prepare a PR, a change to BinaryEncoding.md and to Rationale.md if you wish to explain it, then I will review it and approve the change subject to any substantive and reasonable technical objections.

[2016-12-20 22:00] jonas-db opened #924 "call_import in example, but nowhere defined"
The JS API documentation contains an example that makes use of `call_import`, yet it is nowhere defined. Should it be `call_indirect` instead?

https://github.com/WebAssembly/design/blob/master/JS.md#sample-api-usage

[2016-12-20 22:10] binji commented on #924
Good catch! There used to be a `call_import`, but it was removed, now you use `call` directly.

[2016-12-20 22:30] lukewagner commented on #924
(Just put up a PR to fix this.)

[2016-12-20 22:46] lukewagner commented on #838
So what is left to do to resolve this issue?  One thing would be to update http://webassembly.org/getting-started/js-api, which I can do.  Another would be for binaryen to emit this by default (sound good @kripken?).  @titzer does Canary implement `WebAssembly.instantiate`?

Anything else?

[2016-12-20 23:02] lukewagner commented on #841
So then could we leave this unchanged and close the issue?

[2016-12-20 23:08] kripken commented on #838
@lukewagner: not sure what you're asking, the discussion in this issue is very long. Do you mean to change binaryen from the current sync WebAssembly.Instance API it uses to use one of the new promise-based APIs proposed here? Is that necessary - are we removing the old way?

[2016-12-20 23:09] lukewagner commented on #881
So it seems like we have a number of options that could keep us in the 1-byte space for a long time, if not forever.  Would the resolution to this issue then be to add some new subsection of BinaryEncoding.md#function-bodies that mentions that the encoding of opcodes is currently just 1 byte but then mention plans for future extension?

[2016-12-20 23:22] lukewagner commented on #838
@kripken Right, switching to use `WebAssembly.instantiate`.  We're not removing the old way, but the new way is more efficient and is meant to be used by default.

[2016-12-20 23:25] jfbastien commented on #881
Yes, that sounds good.

[2016-12-20 23:25] jfbastien commented on #841
Sure thing.

[2016-12-20 23:44] lukewagner commented on #783
(Sorry for missing commenting on this earlier.)  I think it's useful to have separate index spaces for each kind of object since, at least in SM, these index spaces end up directly indexing into internal arrays and so I think, at least in my experience, it would be more complexity to try to smoosh everything together into one index space; we'd probably end up building some big internal array mappi

[2016-12-20 23:49] #841 closed

[2016-12-21 18:44] kripken commented on #838
We could use the promise-based API when generating HTML, but many users generate JS and automatically adding async steps there isn't trivial. We can document this though for people. But I guess we should do all that only once this lands in all browsers.

[2016-12-21 19:13] jfbastien commented on #838
@kripken I'm not sure I understand: the current approach is to use no async API at all?

[2016-12-21 19:22] kripken commented on #838
[Yes](https://github.com/WebAssembly/binaryen/blob/master/src/js/wasm.js-post.js#L186). See [this issue](https://github.com/kripken/emscripten/issues/4711) for adding async stuff.

[2016-12-21 21:20] lukewagner commented on #838
@kripken Node would have working promises, I assume.  Even shells have a way to explicitly drain the promise queue (and thus execute all the resolutions synchronously); in SM it's `drainJobQueue()` and in V8 I hear there's a `%RunMicroTasks()`.  Seems like you could simply feature test `WebAssembly.instantiate` and use it when present by default.

[2016-12-21 21:48] kripken commented on #838
Sure, but first, Promise support might be in latest node.js, but it isn't in versions commonly used (default version in linux distros for example). And second, the bigger issue is that when we emit HTML, we have control over how the page is loaded (emcc emits the loading code for the user) while when we emit JS, the JS is assumed to just execute linearly, and users depend on that, e.g. they can ha

[2016-12-21 22:09] jfbastien commented on #838
Does Node have versions which support WebAssembly but not Promise? Do Node people care about these versions?

I don't understand the straightline JS thing. If you always return a Promise, won't that Just Work (users of the code need to consume the promise)?

[2016-12-21 22:31] kripken commented on #838
I don't know the answer to the first question, but a polyfill might let wasm run on a node version that lacks promises. Although, it might be possible to polyfill promises too as node has had a version of setTimeout for a while now, I think, but not sure about that either.

About the straightline issue: emcc emits JS that sets up the runtime and connects up to the compiled code. Some JS in a scrip

[2016-12-21 22:51] jfbastien commented on #838
IMO Node with WebAssembly but without Promises isn't a design constraint we should worry about. A polyfill to WebAssembly is pretty silly in that context.

You're describing what the code does today. I don't fully understand it, but I'd like to back up: I want the code on web pages to use the Promise API. Emscripten is a producer of such code. I don't understand what's blocking it from emitting co

[2016-12-21 23:02] wllang commented on #915
@wanderer Are you happy with the answers and can this be closed?

[2016-12-21 23:10] wllang commented on #886
Even if all the web browsers decided to retain local variables (and it would not block use cases to retain them just add complexity for decoders), and local variables proved to have some advantage for encoding efficiency (still pending test results), it may well be that if a decoder knows that a function has no local variables then it can use a faster decoding path (still pending demonstration but

[2016-12-21 23:20] kripken commented on #838
Why is a polyfill to wasm silly on node? Still seems useful in that context, even if less than in other cases :)

Again: Emscripten **will** use the promise API when it emits HTML. And that is the recommended path. So the answer to your question is "yes". It is not significant work. It is sketched out in that issue, which yes, focuses on caching but I added notes from the (old) offline discussion

[2016-12-21 23:33] wanderer commented on #915
ack, @wllang

[2016-12-21 23:33] #915 closed

[2016-12-22 00:07] jfbastien commented on #838
A polyfill to wasm isn't silly. Catering to Node installs that don't have wasm, polyfill it, and don't have promise but don't polyfill that, is silly. It's half-assed. They should get the other half of the ass 😁

OK that's good! As long as most web pages use the promise API, I'm happy.

Yes. Thanks for explaining.

From my POV though, Emscripten isn't just in the business of emitting JS anymore! Y

[2016-12-22 17:36] lukewagner commented on #838
Btw, I looked at switching webassembly.org/demo to use `instantiate` and it's a bit tricky b/c the current synchronous `new Instance` occurs in a context that wants a synchronous result.  So once we get Binaryen updated to emit `instantiate` by default, it'd be nice to rebuild the AngryBots demo from scratch.

[2016-12-22 18:51] kripken commented on #838
Yeah, but note that a rebuild from scratch might not be enough - I believe Unity uses its own loading and HTML code. So we will need to document and communicate this issue as mentioned earlier so that they can do the necessary things (or maybe we can get them to let emcc emit the html, but I don't know if that's feasible for them).

[2016-12-22 18:53] jfbastien commented on #838
Given the potential downsides of **not** using the `WebAssembly.instantiate` API, I think it's worth asking them to consider using it.

[2016-12-22 19:16] kripken commented on #838
Are those downsides documented? Clear guidance on this on either the main wasm website or the [emscripten wasm wiki page](https://github.com/kripken/emscripten/wiki/WebAssembly) would be a convenient thing to point people to.

I just skimmed this long issue myself, and I'm not clear on the downsides yet, so I want to read that too :)

[2016-12-22 20:03] lukewagner commented on #838
@kripken The challenge with the current code is that binaryen/emscripten only provide the necessary imports (needed as arguments to `instantiate`) at the same time as the exports are synchronously required.  If the imports can be made available "up front", then it's quite trivial to tack on a `WebAssembly.instantiate` to the tail of the async XHR (as I've done in the current demo with the async `c

[2016-12-22 22:01] saambarati opened #929 "Should provably out of bounds loads/stores be a validation error?"
Right now, they're not. There is a spec test:
https://github.com/WebAssembly/spec/blob/master/interpreter/test/address.wast
That assumes it's not a validation error, but instead, a runtime error.

It's possible to prove some loads/stores are out of bounds when
offset + sizeof(load/store)  > UINT_MAX

[2016-12-22 22:11] lukewagner commented on #929
While the bounds checks may be provably out-of-bounds if executed, it's possible they are intentionally never executed, so this may frustrate more than it helps.  Also, to have deterministic validation, we'd have to precisely define what it means to be "provably out of bounds" which would get hairy and inevitably leave out some cases where you could still end up with a constant value in the compil

[2016-12-22 22:13] saambarati commented on #929
@lukewagner By provably out of bounds, I'd mean the simplest possible proof, which is what I wrote:
offset + sizeof(load/store)
These are known to the world's most naive wasm compiler.

[2016-12-22 22:19] saambarati commented on #929
@lukewagner To elaborate, I never want to propose something that would require a compiler churning on code as part of the validation step. But that's obviously not the case here.

For example, something I'd *not* be in favor of is if the following would be a validation error:
- wasm code emits a load from a constant UINT_MAX pointer.

This is trivial a compiler to figure out, but it should not be

[2016-12-22 22:25] kripken commented on #838
Oh, I didn't understand that having the imports available before the wasm XHR even begins is key here. That's a lot trickier then. So most of what I said before is wrong.

For us to have the imports, we need to have downloaded, parsed and run all the JS glue. If we do all that before the wasm XHR even begins then it's a very different loading scheme and set of tradeoffs than we have now. In partic

[2016-12-22 22:26] lukewagner commented on #929
Ah, I see; I thought you were just giving an example, not proposing the exact rule.  Yes, if we're only talking about constraining the `offset` immediate w.r.t `UINT32_MAX`, that sounds reasonable (and potentially avoids weird corner cases in the compiler backend :).

[2016-12-22 22:28] saambarati commented on #929
@lukewagner Yes, sorry for not making that more clear. I am proposing the exact rule, which is based on looking at the constant operand to a load/store and the size of number of bytes of memory it loads/stores from.

[2016-12-22 22:35] lukewagner commented on #929
sgtm.  Perhaps you could write up the PR for Semantics.md#addressing and BinaryEncoding.md#memory-related-operators?

[2016-12-22 22:37] saambarati commented on #929
@lukewagner Sure, I'm happy to do that. Lets first make sure other implementors are also with this change. If they are, I will write the PR.

[2016-12-22 23:20] lukewagner commented on #838
@kripken Not before the *XHR* but after it completes, and some time before we start running the script that wants to synchronous access to the exports object.  I'd expect it could be as simple as putting that exports-using code in some callback called when the instantiation resolves.

[2016-12-22 23:23] lukewagner commented on #929
Oh sure, I was expecting that to block merging, but waiting before is cool too.

[2016-12-22 23:36] kripken commented on #838
Hmm, I guess I still don't fully understand this then, sorry (in particular, I don't understand why the asyncness interacts with getting the imports - could the benefit of having the imports not work synchronously?). But it seems like the issues I mentioned above are still relevant even if this is after the XHR completes - that is, we have a single script now that generates the imports and also re

[2016-12-22 23:37] lukewagner commented on #838
The signature of `instantiate` is `WebAssembly.instantiate(module, importObj)`, so to fire off the async compile+instantiate, you need to pass `importObj`.

[2016-12-23 01:05] sunfishcode commented on #929
I agree with the idea of rejecting code containing wraparound-related corner cases, in general. However, `offset + sizeof(load/store) > UINT32_MAX` does not prove an access is out of bounds. For example, if an access has sizeof(load/store) is 1, offset is UINT32_MAX, the linear memory size is 4 GiB, and the runtime base is 0, then the access is in bounds, while the rule proposed here would reject

[2016-12-23 01:28] saambarati commented on #929
@sunfishcode I think you're off by 1. Say your memory has size `X`.
You can load a single byte from these addresses:
`[0, X - 1]`

Replace `X` with `UINT32_MAX`, you get:
`[0, 2^32 - 1 - 1] = [0, 2^32 - 2]`
So your maximum possible offset for loading a byte from memory is `UINT32_MAX - 1`

In your example, offset = `2^32 - 1` where `2^32 - 1 > 2^32 - 2`

[2016-12-23 01:31] binji commented on #929
@saambarati Yes, but the max size of linear memory is not `UINT32_MAX`, but `UINT32_MAX + 1`.

[2016-12-23 01:33] saambarati commented on #929
@binji Gotcha. Makes sense.
So the rule should be:
```offset + sizeof(load/store) - 1 > UINT32_MAX```

[2016-12-23 20:32] sunfishcode commented on #929
@saambarati That rule looks good to me.

[2016-12-28 01:34] kripken commented on #838
Talking offline, @lukewagner impressed upon me that the main issue here is having the Memory while compiling the module. Overall then, it seems that there are three issues that relate to how easy it is to use this new API in practice:

1. Providing the Memory when compiling.
2. Providing all the imports when compiling (superset of the previous).
3. Doing all this asynchronously.

Given how the too

[2016-12-28 02:58] wllang commented on #838
I suggest meta objects that describe the imports (the memory) to break the constraint that the imports need to be *allocated* before compiling. Then the `instantiate` method could throw an error if the supplied memory did not match that expected and would not be delayed re-compiling.

It would also be very useful to be able to compile before allocating the linear memory on a memory constrained dev

[2016-12-28 16:09] lukewagner commented on #838
@kripken While the sync APIs are, I believe, technically necessary, they *definitely* should be the not-recommended path or else we'll be introducing tons of unnecessary main-thread jank, a regression compared to asm.js + <script async>.

Having a compilation API that takes the `bytes` and `Memory` and resolves to a `Module` seems like a more confusing API in contrast with the current `instantiate

[2016-12-28 22:42] s3ththompson commented on #838
I've been meaning to provide a better example for why we need to explicitly discourage (or, as I've argued in the past, even disallow) synchronous compilation/instantiation. Hopefully this provides additional fodder for discussion.

Let's zoom out and talk about user experience for a second.

---

Here's a comparison between loading the [AngryBots demo](http://webassembly.org/demo/AngryBots/) with

[2016-12-29 03:26] kripken commented on #838
I agree 100% that async is great :) But I'm saying it's orthogonal to the optimization of getting the Memory at the same time as compiling the Module. And that we can't trivially get async+that optimization - we can get that combo, but either at the cost of some overhead, or of time if we introduce a new flag for it and find a way to phase it in to be default.

So if we want that Memory/compilatio

[2016-12-29 03:38] lukewagner commented on #838
Since developers are opting into wasm, I think it makes sense to take the opportunity to change the top-level structure a bit with a new default (with a way to opt-in to the old behavior if necessary).  People using sync <script> tags after a sync instantiation script seems like an antipattern that we should migrate to something async *anyway*.

[2016-12-29 04:40] jfbastien commented on #838
@kripken I think you come to different conclusions than I, @lukewagner and @s3ththompson have because to you the most important part is to offer a seamless transition from asm.js for existing developers.

Is this correct?

I agree this is a valid concern. I weigh it lower because IMO with WebAssembly we're bringing way more developers in than asm.js had. I'd like to avoid burning early adopters, b

[2016-12-29 08:47] jechter commented on #838
FWIW, Unity 5.6 will use WebAssembly.instantiate.

jonas

[2016-12-29 10:39] lars-t-hansen commented on #919
What fell out of a conversation this summer was the idea that in a design where there's a separate heap of gc-able objects (TypedObjects, probably) there might be two new wasm types:

A "Pointer" is an opaque reference (maybe null) to some gc'd thing in the gc-able heap.  It is 4 bytes on Wasm-32 and 8 bytes on Wasm-64.

A "Box" is a Pointer-sized triple:
 - pointer designator bit (1 bit)
 - tag b

[2016-12-29 14:02] wllang commented on #919
@lars-t-hansen I think type test operators are needed so the code could hoist a `if(is_int(p)) ...` and then the compiler would know that `p` is tagged as an integer and not a pointer and could optimize `valof()` without the compiler having to do the hoisting. I don't see a need for `ptrof()` as the runtime needs to check the type on uses anyway and an integer is just another type to test.

Not su

[2016-12-30 01:35] kripken commented on #838
@jfbastien Maybe I don't understand what you mean by "conclusions". I am mostly just presenting options here. I don't have a conclusion myself.

If we want the Memory-at-Compile-time opt right now, I proposed a few options that can let us have it ASAP, trivially modifying our current sync compilation.

Or if we want that opt now in an async way, I proposed an option ("1 + 3", i.e., not receiving a

[2016-12-30 02:19] jfbastien commented on #838
To be sure I understand:

1. What are the overheads?
  * Are these overheads inherent to Async + Memory-at-compile-time, or are they implementation constraints which can be fixed later? IMO if they're inherent to A+M then we should fix the API ASAP.
  * IIUC the overheads are a temporary thing on either imports or exports, and aren't inherent to A+M, is that correct? Could you detail this a bit mo

[2016-12-30 02:30] kripken commented on #838
About the overheads in some of the options: As described above the tricky thing is we must send the imports and receive the exports synchronously currently, and that we don't have the JS imports until the JS is ready (but we do have the Memory!). One way to get around that is to add a layer of indirection on either the imports or exports. For example, we could provide thunks instead of the true im

[2016-12-30 06:44] lars-t-hansen commented on #919
@wllang, yes, I left off type test opcodes because I had not worked that out in my head yet, in particular, whether there would be any performance *guarantees* associated with such tests.  is_int(x) is equivalent to eqz(ptrbitof(x)) which is not a terribly hard pattern to recognize, for starters; is_ptr(x) is just ptrbitof(x).  Since it's a stack machine there's a fine line indeed between a hypoth

[2016-12-30 18:08] lukewagner commented on #838
That seems incidental and not something we should bake into time forever with an API.  Furthermore, for the reasons @s3ththompson explained, even ignoring the memory-at-compile-time issue, we need instantiation to be async *anyway*.  So I agree with @jfbastien that we have our ideal end-state API here and that should not be what we compromise on here.

About breaking users: if we offer a simple mi

[2016-12-30 21:34] kripken commented on #838
Talking to @lukewagner offline, we think the best thing is to start with enabling instantiate for wasm in the default recommended setting in emscripten, by adding an indirection layer (as described above, but on the exports). It will probably have negligible overhead for most use cases. So this gets us the benefits we all want here.

Eventually, we can get rid of that small overhead, but it will b

[2016-12-30 21:40] jfbastien commented on #838
@kripken great! It would be helpful to have a diagram showing different instances / JS / imports / exports / memory / tables. Do you want to move this discussion elsewhere (Emscripten / binaryen repo)? I have a mental picture of what I think C++ code should be organized at, but it's pretty obvious by now that you don't have the same picture! You've got more experience there, so I'd love to learn f

[2016-12-31 09:54] llfylwg opened #934 "when is WebAssembly coming?"

[2016-12-31 14:47] kripken commented on #838
@jfbastien: sure. I'm not clear yet on what you're looking for in a diagram, but yeah, maybe another place is better. For the implementation of this in emscripten there is the issue mentioned before, https://github.com/kripken/emscripten/issues/4711, also feel free to open another if that doesn't cover what you want.

[2016-12-31 15:37] jfbastien commented on #934
There is a [published roadmap](http://webassembly.org/roadmap/).

[2016-12-31 15:37] #934 closed

[2016-12-31 22:09] wllang commented on #934
@llfylwg Please note that as a member of this CG I do not agree with this roadmap for a number of reasons including that there are significant technical design matters to resolve and that it includes a transition to a W3C working group for which only paying customers of the W3C have any control and not us members of the CG. @jfbastien does not claim to be a Chair, and only our elected Chairs can p

[2016-12-31 22:35] jfbastien commented on #934
Were the roadmap to change, [this URL](http://webassembly.org/roadmap/) would still be the right place to refer to.

Were one interested in changing the roadmap, then the [website repo](https://github.com/WebAssembly/website/) would be the right place to do so, specifically its [roadmap.md](https://github.com/WebAssembly/website/blob/master/roadmap.md).

Chairpersonhood has nothing to do with this

[2017-01-01 15:08] titzer commented on #934
Speaking as a Chair and as a tech lead on the Google side, the roadmap linked to by @jfbastien is accurate and is what we have agreed to.

[2017-01-01 22:25] wllang commented on #934
@titzer As a member of this CG I was not given an opportunity to vote for you as a Chair, and I note your failure to explain your standing to claim a position of Chair and you have repeated your claim to be a Chair. It would have been a simple matter for yourself or any of the Chairs to respond clarifying the standing of the Chairs, so given the failure of the claimed Chairs on this matter I hold

[2017-01-03 08:05] #918 closed

[2017-01-03 08:19] saambarati commented on #889
LGTM. I'm closing

[2017-01-03 08:19] #889 closed

[2017-01-03 14:44] lukewagner commented on #916
I believe this is resolved by #922.

[2017-01-03 14:44] #916 closed

[2017-01-03 14:44] lukewagner commented on #917
I believe this is resolved by #922.

[2017-01-03 14:44] #917 closed

[2017-01-03 14:46] lukewagner commented on #924
Should be resolved by #925.

[2017-01-03 14:46] #924 closed

[2017-01-04 00:44] qwertie commented on #919
If you think that WebAssembly should not attempt to support all programming languages in an effective manner, I think you're underestimating Wasm's importance. Done right, Wasm will take over the world. Wasm will decrease the lock-in power of operating systems, of CPU architectures, and (I hope) of programming languages. Everybody is going to use it, for offline and online apps alike, and for clie

[2017-01-04 01:10] qwertie commented on #919
@lars-t-hansen I'd love to get a better grasp of your design ideas for the GC/opaque heap (as well as everyone else's ideas.) What would the effect of the tag bits be in relation to the WebAssembly VM?

How do we make an "all purpose" VM? something that

- Supports precise, compacting, generational GC
- Supports array slices, and pointers that refer to the middle of an object or array, not just th

[2017-01-04 01:25] distransient commented on #919
Disclaimer in that this comment isn't particular to the issue in OP.

I don't think "take over the world" is a great goal to shoot at for Web Assembly (literally and figuratively 😉). Standards are moving more quickly in the world now that a majority of browsers are evergreen, and Web Assembly as it is, is designed to fill a gap in those standards, in a quickly serializable and transport-optimized

[2017-01-04 04:24] qwertie commented on #919
Just my opinion, but I'm not saying taking over the world is the goal - I'm saying WebAssembly is uniquely positioned, such that there's a good chance it will take over the world without anyone  specifically trying to make that happen.

So, what would the effect of the tag bits be in relation to the WebAssembly VM? What are they for?

[2017-01-04 11:37] lars-t-hansen commented on #919
I extracted my comments from above and elaborated a bit, so that we can have a place to watch the ideas evolve without having to scan this entire thread every time:
https://github.com/lars-t-hansen/moz-sandbox/blob/master/wasm-tagging.md

That writeup also has a little bit more of a rationale for "why tagging?" and some comments on security, prior art, etc.

@qwertie, I don't want to hobble Wasm o

[2017-01-04 12:47] RyanLamansky opened #936 "Tail Calls"
I'd like to see an instruction for tail calls ( https://en.wikipedia.org/wiki/Tail_call ).  The attractive feature of tail calls is that the called function's stack frame replaces the caller's, instead of being appended.

This makes it much easier to implement functional languages that make heavy use of recursion, so much so that standard calls would experience a stack overflow.  Simple recursions

[2017-01-04 13:01] Kardax opened #937 "Multiple Return Values"
As noted in the future features document, the stack based nature of WebAssembly lends itself to the possibility of supporting multiple return values from blocks / functions.  This would be immediately useful for returning values larger than 8 bytes without having to add extra steps to pass them through a memory area.  The binary encoding already leaves open the possibility for multiple return valu

[2017-01-04 13:19] Kardax opened #938 "JavaScript-based Debugging API"
Although there are some expectations in the Tooling support document, I'd like to see formal support for JavaScript-based debugging as part of the `WebAssembly` object itself.  With a handful of features (read-only access to the stack, break points), it becomes possible to build a self-hosting compiler and IDE within a web browser.

[2017-01-04 16:15] lukewagner commented on #936
This is indeed already on the [future features list](https://github.com/WebAssembly/design/blob/master/FutureFeatures.md#general-purpose-proper-tail-calls).

[2017-01-04 16:21] lukewagner commented on #938
I think this sort of API isn't something we could expose to content by default (there's no distinguishing debugger vs. debuggee; it's all just content).  However, #708 proposes a design that does separate out a content-debugger which could be given a special debugging API.

[2017-01-04 16:31] lukewagner commented on #934
@wllang The Chairs of the WebAssembly CG are not elected according to a formal process because the WebAssembly CG has not yet adopted an *operational agreement*, as defined in the "Community Group Operational Agreements" section of the [Community Group and Business Process](https://www.w3.org/community/about/agreements/).  As defined by the CG process, when an operational agreement is adopted, it

[2017-01-04 18:04] Kardax commented on #936
Ah, it is.  I didn't notice it and didn't find it when I searched the issues.  As much as I'd like to see it in MVP, I realize it's likely to be a future release.  How are backlog items like that tracked so I can use the "+1" process on it?

[2017-01-04 18:14] lukewagner commented on #936
That's a good question; we don't have that at the moment.  As the MVP draws to a close, I think we'll want to put planned batches of new features on [roadmap.md](https://github.com/WebAssembly/website/blob/master/roadmap.md) but that's not something you can +1.  Maybe it makes sense to have an appropriately-tagged issue (like this one) open for each future feature and linked to by FutureFeatures.m

[2017-01-04 18:17] Kardax commented on #938
Although I wrote about this in a general sense, I'm particularly interested in iOS, which has a large user base and a severely locked down web browser.  Cooperation from Apple on a debugger interface is far from assured.  Having it built into the JavaScript spec allows it to work independently of Apple's vision of how their products are to be used.

[2017-01-04 20:58] AndrewScheidecker commented on #919
I disagree that pointers into an opaque heap are feature that WebAssembly must have. I can think of three possible directions for WebAssembly's support for dynamic and GCed languages:
1. Only worry about being a good VM for non-GCed static languages.
2. Expose a JS-inter-operable typed and garbage collected heap.
3. Expose the primitives necessary to implement dynamically typed languages (or stati

[2017-01-05 01:41] wllang commented on #934
@lukewagner The 'Call for Participation in WebAssembly Community Group' notes that 'The group must now choose a chair', it does not mention appointment of Chairs via any other process and if no other process has been adopted then there still seems to be a significant lack of standing of many of the Chairs to be listed and claim to be Chairs, and this happened under your Chair. This is no small mat

[2017-01-05 07:19] qwertie commented on #919
@lars-t-hansen your writeup doesn't mention how it relates to garbage collection, or to the idea of a memory area for opaque references. Is there an underlying assumption that the opaque reference "heap" or "table" would be a simple array of "boxes" (or uhh... "tagged Ptrs"... TPs?) such that any of those boxes could refer to a JS object, which would thus be kept alive by the JS GC?

After looking

[2017-01-05 10:02] lars-t-hansen commented on #919
@AndrewScheidecker, fair point - it is not a given that we must have opaque pointers into a gc'd heap.  I suggest we continue that discussion in Issue #733 as you propose.  In passing, though, I feel that your claim that "The 3rd direction [...] in the long-term should both allow simpler standalone WASM VMs and reduce the complexity of browser VMs as more of today's heroic optimization efforts mig

[2017-01-06 17:45] thomvn commented on #934
The proposers of any CG may select the initial chairs in a manner of their choosing. The four chairs as listed for this CG conform to this initial process.

Veronica Thom
Administrator for W3C CGs

[2017-01-06 23:00] wllang commented on #934
@thomvn Thank you for the clarification, but unfortunately you comments leave a lot unanswered and unfortunately you do not appear to have the facts because Ben Titzer does not appear to have been an 'initial chair', and I question if anyone but Luke Wagner was an 'initial Chair'.

Irrespective of who is claiming to be a chair and their standing I allege that this group is not running well and tha

[2017-01-07 16:26] Kardax opened #940 "Typed Tables"
With tables being `anyfunc`, `call_indirect` must first perform a type check against the targeted function to ensure that the function's parameters and returns are valid for the scenario surrounding the call.  If the parameter to `call_indirect` is not a constant, it would have to repeat this check at run time for every call.

If my understanding is correct, if there were separate tables for each

[2017-01-07 16:59] jfbastien commented on #940
Yup, that's mentioned [here](https://github.com/WebAssembly/design/blob/master/FutureFeatures.md#more-table-operators-and-types).

[2017-01-07 23:47] Tudor44 opened #941 "Node js prerequisite missing in Getting Started (or Developer’s Guide)."
I have tried to get my first hello world example following the getting started guide of webassembly, but after run the compilation step I have this error:

`INFO:root:Checking JS engine ['/home/gdorsi/webassembly/emsdk/node/4.1.1_64bit/bin/node'] failed. Check your config file. Details: [Errno 8] Exec format error
WARNING:root:cannot check node version: [Errno 8] Exec format error
INFO:root:(Emscr

[2017-01-08 00:08] wllang commented on #940
Being able to make an efficient indirect call seems a minimal requirement for publishing wasm to me. it's is something that wasm must be able to do and can not be implemented in any other way. It's a bit of work to manage the signatures and multiple tables.

I recall some claims that tables with `anyfun` better supported efficient v-tables, but is that really the case? From my limited understandin

[2017-01-08 13:05] wllang commented on #934
@thomvn I can not substantiate your claims that "The proposers of any CG may select the initial chairs in a manner of their choosing." I refer to the W3C comments on choosing a chair at https://www.w3.org/community/about/tool/#choose-chair "Groups nominate their own Chairs and choose their own process for doing so."

Significantly I find no separate distinction for "proposers" and thus conclude th

[2017-01-08 17:31] jfbastien commented on #934
@wllang the reply you received from @thomvn was late Friday, and it is now early Sunday. I assume you'll get a reply on Monday, and suggest you not jump to conclusions based on lack of a reply over the weekend. It seems unlikely that the W3C's own CG administrator made unsubstantiated claims w.r.t. W3C CGs.

[2017-01-08 22:46] wllang commented on #934
@jfbastien Happy to give the chairs and their organisations another week to accept that the battle is over and to return their chairs to the group, and I look forward to the group moving forward much more positively in 2017.

I have some items to float such as a competition with a number of rounds. This could offer recognition for the winners and perhaps we can even obtain some token funds for pri

[2017-01-09 10:52] titzer commented on #919
On Wed, Jan 4, 2017 at 2:59 PM, Andrew Scheidecker <notifications@github.com

Yes, and this was very intentional to resist feature creep and ensure
success.

In various contexts what we've discussed is managed data as an _extension_
to WebAssembly (I even consider the name Managed Data Extensions, or MDX,
to be a good candidate). The Managed data extension would allow WASM code
to allocate low-lev

[2017-01-09 12:39] rossberg-chromium commented on #920
@lukewagner, hm, (instance, index) pairs will probably be even more confusing. They are not unique, since there may generally be several possible such pairs identifying a single Wasm function import. You would need to distinguish between imports that are real JS functions (get a new index) and imports that are Exotic Wasm functions (identified by their original index).

I think the only clean way

[2017-01-09 14:13] rossberg-chromium commented on #919
@lars-t-hansen, it's clear that explicit tagging/untagging is needed for integers, but what is the use case for distinguishing boxed and unboxed reference types in the type system? Is there any operation on unboxed reference that could not be provided on boxed references directly? In which case you don't need to introduce the former.

[2017-01-09 17:10] dschuff commented on #941
This prerequisite really applies to emscripten, not to WebAssembly proper (also it applies to emscripten when not using WebAssembly, i.e. just asm.js).
Looking at your error message though "Exec format error", I'm guessing that you are running a 64-bit build of the emscripten tools on a 32-bit machine. If that doesn't fix your issue and you want more help, I'd recommend posting to the emscripten m

[2017-01-09 17:47] Tudor44 commented on #941
@dschuff thank you precisley I have an SO running a 32-bit version of Ubuntu (14.04) Bash System in Windows 10. I haven't tested in a clean installation in a phisical machine.

[2017-01-09 18:14] titzer commented on #783
I agree with what Luke said above. Separate index spaces means that we
don't have a giant array of all the things and need a way to unify (and
distinguish) all the things in the implementation (other than icky void*).

On Wed, Dec 21, 2016 at 12:44 AM, Luke Wagner <notifications@github.com>
wrote:

[2017-01-09 18:57] lukewagner commented on #920
This is probably something I'd have to write up to demonstrate what I mean; but there wouldn't be an ambiguity because b/c by construction you'd never end up asking for the exotic wasm function of a (instance, index) in the case where this pair referred to an imported exotic wasm function.  But yes, anything to clarify would be useful.

[2017-01-09 22:58] qwertie commented on #934
I would like say that I'd also like to get more involved; my lack of knowledge of how to build and use Wasm tools has been holding me back, but I'll make some time soon to figure it out. For example, I'd still like to push for inclusion of an [LESv3 subset](http://loyc.net/2017/lesv3-update.html) if I am granted an opportunity.

[2017-01-09 23:49] wllang commented on #919
@titzer Re: 'to emulate these structs and implement a GC, though at a performance disadvantage' - if the wasm core using linear memory can not implement an object system including GC without a performance disadvantage then that seems a core design problem.

What is the nature of these "performance disadvantages"?

My interpretation from my experience on these related projects is that the web brows

[2017-01-10 00:42] sjrd commented on #919
I would strongly disagree with this view. Managed objects is not about simplifying the life of compiler writers from managed languages. The main, tangible feature brought by managed memory to wasm in the future would be to *allow* any kind of interaction with the rest of the JavaScript world (that goes beyond sending arrays of bytes back and forth, that is).

There is *no* way you can implement (p

[2017-01-10 00:44] wllang commented on #934
@qwertie I suggest looking ahead to an SSA encoding of wasm as it introduces some different common patterns and there is no need for the 'stacky' syntax rather it works well naming SSA definitions and referencing them by name. Perhaps in a few weeks I can get something presentable out, but perhaps take a look at this interesting project for another take on an SSA syntax that is not stacky https://

[2017-01-10 01:26] wllang commented on #919
@sjrd It would be good to get these 'challenges' detailed so they can be addressed. So the show stoppers you seem to raise are:

* mapping an integer in the wasm sandbox to a JS object, but this seems to be quite possible using a hash table or array, it just remains how efficient this is, and how efficient does this need to be? This is already done in games etc. A more efficient hash that meets th

[2017-01-10 01:30] qwertie commented on #934
@wllang I will be neutral on whether SSA or the stack machine is better, as JITs are not my area of expertise. IMO, LES is well-suited to the current stack machine.

[2017-01-10 03:03] wllang commented on #919
@sjrd You might also look up 'distributed garbage collection' which might be a framework that could address your use case without being a burden to wasm. I am not sure if JS has all the support needed, but there might be more general interest in adding that support to JS if needed, for cloud object stores etc, and that could be done outside the wasm CG. The wasm side would just be integer wasm cod

[2017-01-10 06:20] lars-t-hansen commented on #919
@rossberg-chromium,

You don't know whether a Box holds a reference or not.  That being so, a pointer operation directly on a Box (which is not problematic per se) would have to check the pointer bit and strip any tag.  A pointer operation on a Ptr would never need to do that.  So from my point of view this was just an efficiency concern.

[2017-01-10 11:57] rossberg-chromium commented on #919
@lars-t-hansen, ah, so IIUC raw pointers would be typed but boxed ones untyped? AFAICS, that's not the factorisation you would want, because then every access through a boxed pointer would first require a runtime check -- and a boxed pointer is the only thing you can store in GCed memory. So walking a memory graph would require a runtime check at every edge.

I had in mind something slightly diffe

[2017-01-10 12:15] lars-t-hansen commented on #919
@rossberg-chromium, indeed I have glossed over how I think we would track type information here.  I imagined at some point that Boxes could track type information, ie, Box(Ptr<T>) where T is a struct type would yield a datum known to hold either a tagged pointer-to-T or a (tagged) integer.  In that case, dereferencing the box directly would still need to check for pointer-ness (it could be an int)

[2017-01-10 14:15] rossberg-chromium commented on #919
@lars-t-hansen, I see. Well, I think the typing is actually the crux of a tagging feature. Now that I think about it again, I don't really see how you could achieve it without explicitly introducing tagged types or sum types into the Wasm type system (short of some form of dependent types, which I think we want to avoid).

But if we need some form of tagged types anyway then it seems more attracti

[2017-01-10 15:54] sjrd commented on #919
@wllang

I agree. I have been planning to do this for some time, but haven't gotten around to doing it yet.

IMO it needs to be at least as efficient as writing the same code manipulating heap objects *in JavaScript*. I don't think we can get anywhere close to this level of performance with an integer map.

Judging from several of your posts here and in other threads, you seem to be very concerned

[2017-01-10 17:20] #913 closed

[2017-01-10 23:16] lukewagner commented on #881
Should be resolved by #926

[2017-01-10 23:16] #881 closed

[2017-01-10 23:48] mtrofin opened #942 "Interplay between memory section and memory import"
Scoped just for MVP, where there is at most one entry in the memory section and at most one memory import, we have the following 4 combinations. For some, I wasn't able to find specified behavior. What should it be? I took a shot below at summarizing what I think we spec-ed so far, plus some questions I think are open.

mem section | module import | expectation
------------------|-----------------

[2017-01-10 23:48] Cellule opened #943 "Imported memory validation step"
According to https://github.com/WebAssembly/design/blob/master/Modules.md#imports, there needs to be a validation for an imported memory.
We should also add this to [JS.md](https://github.com/WebAssembly/design/blob/master/JS.md#webassemblyinstance-constructor) in the steps when importing a memory or at least make a reference to the validation.

[2017-01-11 00:19] lukewagner commented on #942
Just like the function index space is a concatenation of function-imports followed by function-definitions, so does the [memory index space](https://github.com/WebAssembly/design/blob/master/Modules.md#linear-memory-index-space) and [table index space](https://github.com/WebAssembly/design/blob/master/Modules.md#table-index-space).  The MVP limitation is that the memory and table index spaces must

[2017-01-11 00:28] lukewagner commented on #943
Technically this validation is done within `Eval.init` (in [`add_import`](https://github.com/WebAssembly/spec/blob/master/interpreter/spec/eval.ml#L390) which calls [`check_limits`](https://github.com/WebAssembly/spec/blob/master/interpreter/spec/eval.ml#L380) for memory and table imports) since this is part of core wasm semantics, not the JS binding, but you're probably right that it'd be more cl

[2017-01-11 00:28] mtrofin commented on #942
Thanks, so what we have for MVP then is this - correct?

mem section | module import | expectation
------------------|---------------------|-----------------
absent | absent | module is invalid if loads/stores are present; memory provided as import at instantiation is silently ignored.
absent | present | module validates. Memory must be provided as import. Loads/stores may fail at runtime if oob
p

[2017-01-11 00:36] lukewagner commented on #942
Yes.  (Technically, "Loads/stores may fail at runtime if oob" is also true for (present, absent).  And also all the statements apply *mutatis mutandis* to tables; in particular `call_indirect` fails to validate if you have no table import or definition.)

[2017-01-11 00:36] wllang commented on #919
@sjrd

Indexing into an array is fast, perhaps a few machine code instruction. A hash lookup is similar on a hit. JS JITs use a lot of caches with tables and tests internally, so perhaps the performance would be characteristic of JS.

If you define 'managed languages' then that might not sounds the same :) Wasm should be able to support efficient object systems written in the wasm core code and st

[2017-01-11 10:31] rossberg-chromium commented on #942
Closing. Modules.md states that "there may be at most one linear memory import or linear memory definition". Moreover, all cases are covered by both the spec interpreter and the test suite.

[2017-01-11 10:31] #942 closed

[2017-01-11 13:56] Kardax commented on #940
I gave this some more thought.

Although not required by the spec, an advanced WASM-to-native compiler could consolidate duplicate Type entries (if any), and store the run-time type index alongside the function definition.  Then the only check call_indirect would require is ensuring that the type index of the called function matches the type index requested by the caller, a basic int32=int32 compa

[2017-01-11 14:15] wllang commented on #940
@Kardax I think having the callee do the check has been suggested before, but it requires loading the type index and passing the type index to the callee which I presume is in a register thus increasing register pressure, and then there is the need for the comparison plus some trap handling bloat too. It's not a show stopper but would be nice to avoid. Using a table specialized on the signature wo

[2017-01-11 14:35] rossberg-chromium commented on #940
On 11 January 2017 at 14:56, Ryan Lamansky <notifications@github.com> wrote:

That's what implementations do already. It still has non-zero cost (extra
reads, comparison, branch).

[2017-01-11 20:50] Kardax commented on #940
@rossberg-chromium How much better could it be?  What `call_indirect` design would allow for fewer operations than read+compare+branch?

[2017-01-11 21:09] wllang commented on #919
@rossberg-chromium

Fwiw it does sound a little odd suggesting storing pointer tags in a "class" object because the pointer tags being discussed here are per-pointer not per-class, perhaps v8 does store pointers in more than one word but that would be a surprising and interesting design? It would also not be possible to store these tags in the object that the pointer was pointing to because the ob

[2017-01-11 21:50] wllang commented on #919
@sjrd Just to establish that the GC issue has solutions raised in this forum (patents) here's one solution. The JS GC adds a new table that maps between JS pointers and integers (wasm side pointers). It might maintain the wasm side of the table directly in the linear memory, so the JS table references an array buffer and an range. On each side there is a `live` flag and a reference count per point

[2017-01-11 21:59] wllang commented on #940
@Kardax That savings, plus the reduction in register pressure may well be measurable. Keep in mind that some code will be making heavy use of indirect calls, for example an object orientated language indirecting via a table, or functional languages with first class functions, or calling a closure cell function object, etc.  Also not that in these cases the function pointers might be wrapped in obj

[2017-01-11 22:41] lukewagner commented on #943
Should be resolved by #945.

[2017-01-11 22:41] #943 closed

[2017-01-12 02:54] rsms commented on #112
![slice 5](https://cloud.githubusercontent.com/assets/47046/21875232/55f0975a-d82f-11e6-81cf-f57d893f0694.png)

Source: https://www.figma.com/file/HskCIUl60u6VMnaqA1SrWD97/WASM

[2017-01-12 08:42] rossberg-chromium commented on #919
@wllang, maps / hidden classes are a common implementation technique for tracking the representation of individual values; they are only loosely related to language-level notions of class.

[2017-01-12 10:13] rossberg-chromium commented on #940
@Kardax, a typed `call_indirect` essentially is just a jump-to-subroutine.

[2017-01-12 10:42] wllang commented on #919
@rossberg-chromium From what I understand of hidden classes in v8 they are stored as a slot in the object. This PR is about tagged *pointers* so even storing the tags in a separate object slot does not seem relevant, little lone storing them in the hidden class, rather they need to be stored in the pointer thus the implementation could only be free to decide which bits of pointers to use. Or did y

[2017-01-12 11:58] rossberg-chromium commented on #919
@wllang, what I said is that it likely doesn't make sense to expose _where_ tags are actually stored, because architectures and VMs have severe and wildly different constraints. Tagging support for Wasm would need to be sufficiently abstract to allow multiple implementation strategies.

[2017-01-12 13:49] Kardax commented on #940
@rossberg-chromium Can you expand on the "indirect" part of your explanation?  I'm interested in knowing how it's a performance improvement from the read+compare+branch we have now.

If there's speed here, I'm with @wllang in that this should be part of the MVP spec, but if there isn't, I have no complaints with freezing the binary spec today.  Not that my opinion has any weight with this team 🤔

[2017-01-12 14:04] wllang commented on #940
@Kardax You would need to take a look a the machine code generated to follow the discussion. So an indirect machine code call accepts a destination address in a register (as opposed to being an immediate argument). It's a performance improvement because there are less machine code instructions in the call sequence.

[2017-01-12 14:08] Kardax commented on #940
@wllang I get that but how do you convert an arbitrary i32 value supplied to call_indirect to a destination address without a lookup table?

[2017-01-12 14:11] rossberg-chromium commented on #940
@Kardax, it's 1 read + 1 jump as opposed to ~3 reads + 1 compare + 1 branch + 1 jump.

[2017-01-12 19:29] mtrofin opened #946 "relation between return values from Module.imports/exports"
in the following snippet:

var m1 = Module.imports(myModule);
var m2 = Module.imports(myModule);

what is the relation between m1 and m2?

same for exports

[2017-01-12 19:42] mtrofin commented on #946
To be more specific, which is true:

m1 === m2
m1 == m2
...?

[2017-01-12 21:11] jfbastien commented on #946
I think identity is ill-defined in many places, this one included. See #920. We should go through and define everywhere.

[2017-01-12 21:13] mtrofin commented on #946
Yes, but define it to what?

[2017-01-12 21:15] mtrofin opened #947 "What do "internal slots" mean?"
In https://github.com/WebAssembly/design/blob/master/JS.md#webassemblymodule-objects

What does this mean?

"A WebAssembly.Module object represents the stateless result of compiling a WebAssembly binary-format module and contains one internal slot:

[[Module]] : an Ast.module which is the spec definition of a module"

- what does "internal slot" mean?
- what does the sentence "Ast.module which is

[2017-01-12 21:19] jfbastien commented on #947
It's TC39-speak: https://tc39.github.io/ecma262/#sec-source-text-module-records

It would be nice to stay with TC39-isms in JS.md, and drop spec-isms (where spec is the spec repo).

[2017-01-12 21:20] jfbastien commented on #946
Whatever makes more sense, ideally consistent with other JS things. Identity of the JS API values is something I'd like to see resolved before MVP, how it's resolved doesn't really matter to me as long as it's sane.

[2017-01-12 22:26] mtrofin commented on #946
Order of elements in the array, and the way that relates to the order of elements in the binary, is another thing. I suppose we can spec the order as preserving the one in the binary.

Other concerns: are the "m"s mutable? what about their content?

[2017-01-12 22:39] mtrofin opened #948 "WebAssembly.imports/exports: why Array and not Iterable?"
The size of imports/exports may be large. Instead of pre-allocating an Array, why not return an object conforming to the Iterable protocol, thus avoiding memory pressure?

[2017-01-12 22:44] jfbastien commented on #946
The rule is usually: if it's mutable then each array is a new copy, so they have separate identity. IIRC we did that elsewhere.

Elsewhere as well, we did in-binary order.

So what you propose seem like good clarifications.

[2017-01-12 22:46] mtrofin opened #949 "When do we throw if exported function exotic object's signature exposes i64?"
See: https://github.com/WebAssembly/design/blob/master/JS.md#exported-function-exotic-objects

"WebAssembly Exported Functions have a [[Call]](this, argValues) method defined as:

1. Let sig be the function type of the function's [[Closure]].
2. If sig contains an i64 (as argument or result), a TypeError is thrown."

When? I'm assuming "at validation", so perhaps we have a spec bug here?

[2017-01-12 22:48] mtrofin commented on #946
#948 is related

[2017-01-12 23:26] jfbastien commented on #949
Dup #913?

[2017-01-13 02:01] Kardax commented on #948
Arrays have many useful features and characteristics, and would represent a very small portion of the memory used by any non-trivial WASM file.  I don't see any issue with this aspect of the design.

[2017-01-13 02:45] bpowers opened #950 "allow Memory.buffer to be a SharedArrayBuffer"
Some background: I'm working on [Browsix](https://browsix.org), a tool for running multiple C, C++, Go and node.js programs as processes in the browser.  We do this for C programs by compiling with a (fork) of Emscripten and running the compiled "binary" in a Web Worker, where our fork mainly replaces `src/library_syscalls.js` with an implementation that calls into a kernel (library) that runs on

[2017-01-13 02:47] jfbastien commented on #948
@Kardax right, but if you want an array then you can use spread syntax with something using the iteration protocol. You can't do the reverse.

Which one is more desirable is based on what's more idiomatic "modern" JS. If we change here we should also change other APIs, such as `Module.customSections`.

[2017-01-13 02:51] jfbastien commented on #950
This would fall under [future features: threads](https://github.com/WebAssembly/design/blob/master/FutureFeatures.md#threads). We definitely want to do this, and it's great if you want to explore what it looks like.

A few thoughts:

* Can you create `isShared` from an exported `Memory` (i.e. not created with `WebAssembly.Memory`, but created and then exported through a memory section).
* What are

[2017-01-13 03:44] bpowers commented on #950
I would love to explore what it looks like.

Off the top of my head I don't have detailed answers to those questions, but I'll look into the current spec and post back.

[2017-01-13 04:27] lukewagner commented on #946
Yes, the current wording does say we're returning an `Array` object each time (otherwise we'd have to have wording about caching/reusing it), but specifying a *new* `Array` would help.  And agreed that the intention of the current phrasing of mapping imports/exports to array elements does mean preserving order and that could be clarified as well.

So then to the original question: neither `==` or

[2017-01-13 04:31] lukewagner commented on #949
We're talking about the runtime semantics of calling the [[Call]] method of an exported wasm function, so this is at runtime, when you call an export that has `i64` in its signature.

[2017-01-13 04:49] lukewagner commented on #950
Agreed with @jfbastien that this would be part of the threading future feature.

Given that, though: a `shared` flag on memories like @bpowers describes is exactly the approach I've been expecting.  Addressing some of @jfbastien's questions:
  * Just like we've maintained a symmetry between the [`memory_type`](https://github.com/WebAssembly/design/blob/master/BinaryEncoding.md#memory_type) for mod

[2017-01-13 09:05] rossberg-chromium commented on #947
@jfbastien, how would we do that without duplicating the entire spec and translating all of it into ECMAcobol?

[2017-01-13 09:08] rossberg-chromium commented on #947
@mtrofin, note that `Ast.module` links into the spec (in the only way we currently have available).

[2017-01-13 09:15] rossberg-chromium commented on #949
What @lukewagner said. And it's a TypeError instead of a RuntimeError because it's a JS interfacing matter, not a failure within Wasm code.

[2017-01-13 09:15] #949 closed

[2017-01-13 09:16] pontuswallberg commented on #112
![webassembly](https://cloud.githubusercontent.com/assets/430838/21924391/42461a86-d979-11e6-8f7a-7fddbd6f3fb6.png)

[2017-01-13 09:24] rossberg-chromium commented on #948
The size of imports/exports may be large but it is clearly dominated by the size of the binary, so shouldn't matter in practice.

It is normal in JS to use an array for this kind of thing, see e.g.  the analogue `Object.keys` and friends.

[2017-01-13 13:46] MaskedGraphics commented on #112
Oh wow a contest! Can I supply something and then win the right to have the work I've done used for free by a group with budding business interests where others get paid, just not me? Oh cool! I remember the people who where part in the Mozilla contest by name and they sure got high profile jobs simply by taking part in that contest so this may be my ticket to fame!!! Gold toilets here I come!

Le

[2017-01-13 14:52] lukewagner commented on #947
@jfbastien I personally view JS.md as a "wrapper" around the core (host independent) wasm spec, making it inherent in its job to point into both ES262 and the core wasm spec since the interactions go both ways.

[2017-01-13 15:19] mtrofin commented on #948
It matters when you are memory constrained. By returning an array, we increase memory pressure.

[2017-01-13 17:35] AndrewScheidecker opened #954 "Split import section by kind and use signed indices to distinguish imports"
I'm proposing this as an alternative to #783; see that issue and #882 for past discussion. The problem this is trying to solve is that because the global, function, memory, and table index spaces are formed by merging the declarations of each kind in the import section with the definitions of each kind from their respective sections, you must parse the kind of each declaration in the import sectio

[2017-01-13 18:19] jfbastien commented on #948
@rossberg-chromium normal in ye-olden JS. Is it normal in "modern" JS? If so I think we should follow "modern".

Agreed import/export aren't big, but `customSections` could be.

[2017-01-13 18:23] jfbastien commented on #947
@rossberg-chromium I thought that you were working on doing exactly this: having an English spec.

@lukewagner I agree that JS.md just wraps other parts: I was referring to @mtrofin's question on "Ast.module which is the spec definition of a module". The current text isn't helpful. Once things are unified we can just have a link to the appropriate section. It's the best wrapper we have now, but I

[2017-01-13 18:41] alexhultman commented on #112
You'll be so rich you can take golden showers every day

[2017-01-13 19:00] thomvn commented on #934
@wllang
* By default, it is left to CGs to determine how they choose their Chairs [1]:
   "The participants of the Group choose their Chair(s).”
* The people who launch a CG are allowed to name themselves Chairs.
* Some groups did not find that sufficient, so we started work on a more detailed (but not too onerous)
   chair selection algorithm [2]. That algorithm is not a requirement and is not fo

[2017-01-13 20:02] sunfishcode commented on #746
I submitted #955 to document that NaNs coming from JS may not be canonicalized.

[2017-01-13 20:14] mtrofin opened #956 "Security concerns with cross-origin structured cloned Modules"
At the moment, the spec allows for cross origin structured cloning of Modules.

The summary of the concern is: even assuming the semantic of structured cloning where we send the wire bytes under the hood and recompile them on the other side, an attacker could exploit a compiler bug this way, without the receiver having any chance of reacting. In contrast, if the receiver just got the wire bytes, t

[2017-01-13 20:37] lukewagner commented on #948
While I expect the payload of some custom sections to be big, I expect the number of custom sections (esp., with a particular name) to be pretty small.

My impression is that, even for huge modules, we're talking 100s of imports/exports, and then only for huge modules where the bytecode is 1000x bigger than the aggregate size of the returned arrays.  So I think an Iterable would be overkill.  Also

[2017-01-13 20:39] lukewagner commented on #947
Oh right, yes, prose spec will be much nicer to link to from JS.md.

[2017-01-13 21:03] lukewagner commented on #956
That's an interesting point.  I suppose this is true for all structured clone deserialization code; the only new thing here is the compiler is being added to this surface area.  I suppose one mitigation is that, depending on the browser impl, the deserialization may only occur if the recipient has registered a cross-origin `onmessage` handler.

That being said, actually sharing the underlying mach

[2017-01-13 21:10] lukewagner commented on #954
I guess I don't really understand the root problem here: what's wrong with parsing all imports and definitions?  It seems hard to *not* to parse everything if you're trying to compile, interpret or otherwise manipulate the code.

[2017-01-13 21:14] mtrofin commented on #956
The compiler being added to the surface area is a pretty big "only new thing" :)

To your last sentence - the difference between receiving some bytes, compiling them, and then instantiate + running them is that the transition data->code is in my control. In the structured cloning case, it's in the attacker's control.

[2017-01-13 21:45] jfbastien commented on #956
Unless we expose something like [SRI](https://www.w3.org/TR/SRI/), where the first-party domain can say "here's the hash of the `.wasm` file, I trust myCDN.example.com to have a matching binary".

[2017-01-13 21:53] AndrewScheidecker commented on #954
[Here's my in-memory representation of a WebAssembly module](https://github.com/AndrewScheidecker/WAVM/blob/master/Include/WebAssembly/Module.h#L138). It's just a deserialized representation of the binary format.

When I instantiate a module I [construct arrays that correspond to the index space for each kind of object](https://github.com/AndrewScheidecker/WAVM/blob/master/Source/Runtime/RuntimePr

[2017-01-13 22:11] lukewagner commented on #956
@mtrofin Yes, I appreciate that difference.  Actually, pulling the two points together, though: if the structured clone impl *always* hands over machine code, then we're *never* allowing the attacker to execute the compiler.

[2017-01-13 22:11] binji commented on #950
I agree w/ @lukewagner's answers here. They seem like the most straightforward way of handling this stuff.

This seems reasonable except for the "as much as it can" part. I assume if we can't allocate enough address space for the maximum amount, then instantiation will fail (and throw), not silently give back less? Otherwise we may as well just accept memory without the maximum flag, because it's

[2017-01-13 22:16] mtrofin commented on #956
But the machine code could be the attack vector.

[2017-01-13 22:18] jfbastien commented on #956
@mtrofin if the first-party says "yes, I absolutely trust this code, please run it" then whether it's an attack vector or not, and where it's loaded from, is immaterial: the situation is equivalent to the first-party site embedding the `.wasm` file on its own domain and serving from that domain.

[2017-01-13 22:20] esprehn commented on #956
Why isn't that level of caching of ex. the python runtime an implementation detail of the caching strategy around the network stack, for example how we cache the generated code for scripts that come from the same URL? I'd prefer we didn't allow structured cloning even for same origin, having the compiled output of the same input be cached is something the engine can handle.

[2017-01-13 22:32] wllang commented on #934
@thomvn Thank you for explaining this. I will defer taking the matter to the Group for now, but I would ask current Chairs to please take note the finding and to please ensure that future communication in relation to their standing reflects that their claim to the position of Chair is at the choice of the Group and ask them not to take significant actions such as closing the Group or publishing a

[2017-01-13 23:02] lukewagner commented on #954
At least for FF: while we do reify the function and global index spaces during the validation+compilation step, after that, we just generate custom vectors of metadata that use whatever index space makes sense for the supported operations (e.g., a vector of the function-import metadata used to patch in imports, a vector of the exported-function metadata used to create wrappers, etc).  These are al

[2017-01-13 23:21] lukewagner commented on #950
Oops, you're right not an *unbounded* "as much as it can get" but, rather, "as much as it can get up to `maximum`".  But, already by today's meaning of `initial`/`maximum`, an engine is supposed to succeed with any reservation greater or equal to `initial`.  It is `initial` that is the hard lower bound and the expectation is that big apps (as opposed to small libraries) that generally use "a lot"

[2017-01-13 23:25] lukewagner commented on #956
@mtrofin Well, it's an attack vector, even without any browser-level bug, if it is being served by a malicious origin and you're running it in your origin; that's XSS.

@esprehn Implicit caches have a lot of limitations; see the motivations for ServiceWorkers.  We actually have an implicit cache for asm.js machine code in FF and I'm quite eager to get away from it.

[2017-01-13 23:46] qwertie commented on #778
@Kardax hmm, to me it makes more sense to eliminate the default case, so `br_table` would be conditional on whether the index is in range.

[2017-01-14 00:52] Kardax commented on #778
Assuming that AngryBots13.wasm is a real-world example, target-0-is-next-instruction would save 4194* bytes, but eliminating the default case would only save 1398* as this particular file has no default 0, necessitating the immediate next instruction to be a `br`.  A clever compiler could re-order the blocks so that the default comes first, but this may not be easy or even possible if it's in the

[2017-01-14 01:01] wllang commented on #956
I don't yet follow all the concerns raised, but it might not just be a matter of "embedding the .wasm file on its own domain" because it is not expected that wasm files will be deployed rather customer compressed files that would stream in and be translated to the actual wasm that would be compiled, so might there be an issue trusting the decompression/translation code too. In other words the prov

[2017-01-14 03:41] qwertie commented on #778
I have no data in front of me, but thinking about C switches, in the majority of them, `default:` is preceded by a `break`, which can be size-optimized as you mentioned.

I believe omitting `br_table`'s default label would be simpler, both in terms of describing `br_table` in the spec and in terms of implementation.

[2017-01-14 07:52] jeisinger commented on #956
My assumption is that the postMessage proposal is to enable a site to send a compiled binary to another origin. This is different from sending the wasm file, as the target origin then would compile the wasm binary (which ensures that the resulting binary runs within the constraints of the VM). If the process running the sending site was compromised, it can send an arbitrary binary to the other ori

[2017-01-14 14:25] Kardax commented on #778
@qwertie AngryBots13.wasm has no instances of `br_table` where default is 0, so removing the default means the very next instruction after the `br_table` will be `br`, which requires two bytes.  So, the savings of removing the default isn't that great for this file without the optimization I mentioned.

[2017-01-14 18:02] mtrofin commented on #956
I think the problem is more nuanced.

In the postMessage scenario, today (without wasm), the receiver can be given a string that it then evals. An attacking sender sends malicious JS - which can pass all validations of the VM. The defense mechanism is the receiver identifying the origin of that message, and only after that eval-ing.

In the wasm world, the recipient receives a Module object. This

[2017-01-14 18:56] jeisinger commented on #956
I'd hope we don't put the binary into executable memory before we actually intend to execute it, so this isn't different from posting a string.

If you eval a string you still have the guarantee that it runs within the boundaries of the VM. If you just receive some binary and then execute it without further validation you don't have that guarantee, and verifying the origin doesn't help with that e

[2017-01-14 19:24] jfbastien commented on #956
I think this discussion is losing sight of the end-goal: example.com wants to load `framework.wasm` from cdn.com: everyone else loads `framework.wasm` from cnd.com and it's likely to already be downloaded **and** compiled. The compiled part is kinda different from the rest of the web.

We want to make this possible. Whether it be through IDB/postMessage/structured-clone, or a baked-in browser cach

[2017-01-14 19:59] jeisinger commented on #956
We should make that possible using the regular mechanisms that the platform offers: I'd expect some kind of <script> tag or <embed> that loads a wasm file. The web developer can then control the caching via a service worker, and the platform can transparently cache the compiled version.

[2017-01-14 20:55] mtrofin commented on #948
@lukewagner What about customSections, as @jfbastien mentioned?

If these APIs are just convenience, why even include them - did we have a strong ask/scenario for them? We can always add later (apologies if this was discussed elsewhere - if so, pointer, pls)

[2017-01-14 20:57] mtrofin commented on #947
Closing - my question is answered, and I assume the other main observation made here (the desire for a plain language spec) is on the radar.

[2017-01-14 20:57] #947 closed

[2017-01-14 21:07] mtrofin commented on #946
Opened #957 for the APIs discussed here. Will close this issue once we feel we covered all the APIs (I haven't myself just yet).

[2017-01-14 21:31] wllang commented on #956
@mtrofin Your concern about the memory layout appears to have solutions using memory protection which could delay access to the memory until 'accepted'.

@jfbastien @jeisinger But what if a lot of resources are pulled to support a framework, and what if these dependencies (of the wasm Module cached in the web browser) are not clear.

Does a service worker have an origin and can that be the point o

[2017-01-14 23:29] flagxor commented on #956
Unless I'm mistaken, this issue has ended up mixing together a security discussion with an API one. If that's the case, I'd like to disentangle the two concerns. (Please confirm one way or the other so I can split the issue.)

@mtrofin and I had originally thought the concerns @jeisinger raised elsewhere were about the safety of the structured cloning mechanism (and as a part of that when we were

[2017-01-15 05:37] jfbastien commented on #948
It was added because it's very simple, and otherwise tools such as emscripten's generated code end up decoding the sections themselves in the browser, which is kinda silly. Adding it later basically means we're stuck with silly code forever.

[2017-01-15 09:57] jeisinger commented on #956
My security concern is not properly summarized as "it's like eval" because eval() still enforces the VM constraints. Running arbitrary assembly code does not. So unless structed clone would recompile from the wasm sources, my concern still stands.

I also don't think we should cut corners here to support potential use cases ASAP - this will just make it more difficult to reach the long term goals,

[2017-01-15 11:36] wllang commented on #956
@jeisinger If the attach were exploiting a systematic bug in a compiler then it would appear to make no difference if this were exploited in the sending origin to compromise the compiled wasm module or compromised in the receiving origin, so I guess you are worried about an attach that would compromise the compiler so that only the sender could exploit it by compromising the compiler whereas the r

[2017-01-15 17:18] jfbastien commented on #956
@jeisinger

wasm compiled code can't do anything on its own, it needs imports and exports to touch the VM. It's pretty similar to a self-contained closure with inputs and outputs, and cannot access global state.

That being said, I agree we shouldn't cut corners. I simply don't understand the corner you're referring to.

[2017-01-15 18:33] mtrofin commented on #948
So Emscripten offers the main usecase for all 3 APIs, or just for Imports & Exports? When using Imports & Exports, does it end up visiting all imports/exports? What about customSections - is Emscripten code the user, or would that be rather exposed to developers, and how do we envision the usage pattern look like?

[2017-01-15 18:47] jeisinger commented on #956
@wllang Yes, if the bug is in the compiler itself, it doesn't make a difference whether the result of the compilation is used or the wasm source. However, if we blindly execute the binary, any other exploit that allows for constructing a malicious postMessage payload can be turned into a code execution bug.

@jfbastien at the point where we receive the postMessage, there is no guarantee that it's

[2017-01-15 19:38] mtrofin commented on #956
The key is "if you execute the binary".

From what I understand (and paraphrasing others on this thread), today's security model (in a JS-only world) is that the receiver is responsible for checking the origin before attempting to do anything with a payload (including eval; in wasm, "eval" becomes "instantiate and  execute the module"). If the receiver does not do that, all bets are off. Is that a

[2017-01-15 19:51] carlosbaraza commented on #112
@lukewagner, this is my proposal's CC licensed repository:
* [WASM Logo proposal - github.com/carlosbaraza/web-assembly-logo](https://github.com/carlosbaraza/web-assembly-logo)
* [Original proposal issue comment](https://github.com/WebAssembly/design/issues/112#issuecomment-258674675)

![Web Assembly Logo - Carlos Baraza](https://github.com/carlosbaraza/web-assembly-logo/raw/master/dist/presentati

[2017-01-15 19:54] mtrofin commented on #956
Oh, forgot to ask: I can't see how eval() enforcing VM constraints matter. If the receiver blindly accepts and evals any string, I can send a JS script that fishes out usernames + passwords. The fact that wasm is compiled bytes offers a different attack vector, but the security mechanism guarding against that are the same: just don't eval-it (==instantiate + run it).

[2017-01-15 20:09] jeisinger commented on #956
So maybe I'm missing something. Let me ask some clarifying questions:

Does "instantiate" mean that the compiler gets to look at the entire thing? I.e. in V8, will Turbofan get to see the data before it runs?

What is the payload in the post message? Is it something in wasm format, or something in say arm64 binary?

[2017-01-15 20:44] mindplay-dk commented on #112
@carlosbaraza this remains my favorite proposal by far! Just one minor comment: why is the font size of WA smaller than JS? It makes it seem less important somehow.

[2017-01-15 21:41] Kardax commented on #112
@carlosbaraza I like this, too.

I think a second notch going upward from WA into JS will help illustrate the interconnectedness of the two technologies (they can call into each other view import/export) and to balance out the area of each color.  This may require the JS text to be pushed up to the top or both texts to be centered, for symmetry...

[2017-01-15 22:17] daemon commented on #112
![webasm-02](https://cloud.githubusercontent.com/assets/6188572/21966701/75b381d2-db46-11e6-8d1c-9db9ecf91d9a.png)
![webasm2-02](https://cloud.githubusercontent.com/assets/6188572/21966702/75b39c9e-db46-11e6-9d33-544b5e9d4a18.png)
![webasm-04](https://cloud.githubusercontent.com/assets/6188572/21966703/75b44cf2-db46-11e6-91a4-18e2f9a69c4c.png)
![webasm-03](https://cloud.githubusercontent.com/asset

[2017-01-15 23:08] mtrofin commented on #956
In V8, the payload of the message is a buffer containing a mix of arm64 and data, as produced by the code serializer. The serializer, among other things, de-contextualizes the code from the sender. When received, this payload is deserialized by the code deserializer and contextualized to the receiver. This currently happens as part of the structured cloning pipeline. The compiler is not involved i

[2017-01-16 05:49] jeisinger commented on #956
Is there something in this process that will either overwrite or verify the arm64 data? Is my assumption correct that I could craft a payload that looks like a valid serialization but contains an exploit binary in the arm64 bits?

[2017-01-16 06:12] jfbastien commented on #956
Are we still talking about cross-origin structured cloning, or just structured cloning, or V8's particular implementation of it? Or something else entirely?

[2017-01-16 06:23] mtrofin commented on #956
That's correct, and in that case, unless I'm missing something, the exploit is still executing in the sandbox of the renderer, at least in v8.

[2017-01-16 06:37] jeisinger commented on #956
@jfbastien would the answer be different for v8 vs non-v8?

@mtrofin: can you explain how I could get the exploit code to run with a
message handler that just uses eval()() to run the event data?

On Monday, January 16, 2017, Mircea Trofin <notifications@github.com> wrote:

[2017-01-16 07:00] mtrofin commented on #956
A JS script that fishes out user data. Can the native code-based approach cause more damage than a JS-based attack (in a sandboxed process, of course)?

[2017-01-16 07:05] jeisinger commented on #956
Yes, the sandbox is not perfect, and running arbitrary binary is worse than
eval'ing script.

On Monday, January 16, 2017, Mircea Trofin <notifications@github.com> wrote:

[2017-01-16 07:59] mtrofin commented on #956
If I understand this correctly, your position is that "an attacker can cause increased harm (when compared to what they may do via script injection) to a user running a website that is not checking message origin in a postMessage handler which freely accepts and runs wasm, if, additionally, the sandbox is also compromised".

Does this capture it?

I suppose it ends up being up to each vendor to ev

[2017-01-16 08:04] jeisinger commented on #956
No, this does not capture my position. I don't understand where the checking of the origin comes in, nor the compromise of the sandbox.

[2017-01-16 09:13] daemon commented on #112
Inspired by the very first idea and the idea of complementary color. The flower symbolizes synthesis.

SVG file attached.

![untitled-2-02](https://cloud.githubusercontent.com/assets/6188572/21976815/a17ce456-dba1-11e6-8daf-7c9096ae370e.png)
![untitled-2](https://cloud.githubusercontent.com/assets/6188572/21976816/a17da620-dba1-11e6-8a47-b618266e5b3a.png)
![untitled-2-03](https://cloud.githubuserc

[2017-01-16 10:45] kf2093 opened #958 "memory_immediate"
I am writing an interpreter and I'm trying to understand the memory_immediate section.  I am unsure of the use of the memory alignment value (in the flags field) since the offset specifies a byte offset.  Can the byte offset not just be used in isolation?  Or should the memory access be aligned to the next offset that is aligned to the memory alignment specified within the flags field?

The descri

[2017-01-16 11:36] rossberg-chromium commented on #948
@jfbastien, yes, even ES2015 methods like `Object.getOwnPropertySymbols` or ES2017 methods like `Object.entries` and `Object.values` return arrays.

I assume `customSections` arrays will be even smaller in practice (typically size 1), because they only collect all sections of _one_ particular name.

[2017-01-16 11:59] rossberg-chromium commented on #954
I sympathise somewhat with this proposal. Another way to describe the disadvantage of the current organsiation is that there is no simple syntactic way to e.g. tell whether a given index is an import or not -- you have to go through the entire import section and count entries of a particular kind. (The rather ugly function at https://github.com/WebAssembly/spec/blob/master/interpreter/spec/ast.ml#

[2017-01-16 12:03] titzer commented on #954
On Mon, Jan 16, 2017 at 12:59 PM, rossberg-chromium <
notifications@github.com> wrote:

FWIW what we do in V8 is that we record the number of imports of each kind
so that it's a simple comparison to tell if a given index is an import or
not.

[2017-01-16 12:07] rossberg-chromium commented on #954
@titzer, my understanding was that Andrew was considering tools that don't want to parse the whole thing.

[2017-01-16 13:20] titzer commented on #937
We actually already implemented a prototype of this in V8, actually, which was one of the prerequisites to generalizing from the postorder to the stack machine.

[2017-01-16 17:01] jfbastien commented on #948
@rossberg-chromium thanks! I think it's better to follow what "modern" JS APIs do, so Array seems like the right thing.

[2017-01-17 11:30] kf2093 commented on #736
I am trying to understand the control flow implied by block, loop, br, br_if and end.  It is br and br_if that I am not sure I've understood (from the binary encoding description).  Because of my uncertainty of br and br_if, I'm also doubting whether I've understood what end does.  I've done my best to understand them by creating different tests and compare the outputs.  I've created a pdf documen

[2017-01-17 11:53] wllang commented on #736
@kf2093 Slides look right, but that is not the half of it. The `end` could be `br 0` except that at present `end` is more restricted and requires that the values stack have just the number of values the block returns whereas `br 0` will unwind excess values. The `end` on a `loop` is a bit odd as there is no label for the exit, so it is not the same as `br 0`, there was once two labels on a loop bu

[2017-01-17 12:07] kf2093 commented on #736
Once I figure out the control flow I was going to further dig deeper into the affects on the value stack.
A while true loop in C, compiled to .ll, then .s, then .wasm, then .wast results in:
[code]

There are two ends in this case.  I am guessing there is an implicit block for each function code although there is not an outer explicit block wasm instruction.

I think from my slides what I am tryin

[2017-01-17 12:20] rossberg-chromium commented on #736
@kf2093, you're reading is correct: a br targeting a block is like a break, a br targeting a loop is like a continue. However, please note that the issue tracker is not the right forum for asking basic questions about the Wasm design.

[2017-01-17 12:25] kf2093 commented on #736
Sorry about that! Where's the best place to ask? (Hopefully I can contribute more to the project once I get up to scratch)

[2017-01-17 12:27] titzer commented on #736
You may want to take a look at
https://docs.google.com/document/d/1CieRxPy3Fp62LQdtWfhymikb_veZI7S9MnuCZw7biII/edit

On Tue, Jan 17, 2017 at 1:25 PM, kf2093 <notifications@github.com> wrote:

[2017-01-17 14:29] rossberg-chromium commented on #736
@kf2093, you are commenting on an old issue about the details of the static validation rules for blocks. So I'm afraid that question still is off-topic.

[2017-01-17 18:21] haroldfredshort commented on #112
80's style!
![photofunia-1484677188](https://cloud.githubusercontent.com/assets/441624/22033780/b072a06a-dc9e-11e6-8e66-e5e6a3864b63.jpg)

[2017-01-17 20:05] binji commented on #958
The alignment value is used as a hint to generate better code in a WebAssembly executor. You can read about alignment behavior here: https://github.com/WebAssembly/design/blob/master/Semantics.md#alignment

It actually says this:

But good point, the `memory-access-size` doesn't seem to be specified anywhere. The intention is that it the number of bytes accessed by the operator. See https://github

[2017-01-17 20:18] wllang commented on #736
@kf2093 Yes, wasm is not optimized for interpreters, and the code needs to be validated before running it, so at least one pass will be needed and during that pass you could add information on branch target locations or transform it to another representation. There are some interpreter implementations to look at, e.g. the spec interpreter, the v8 source, and in binaryen. It seems fine to me to use

[2017-01-17 20:52] kf2093 commented on #958
Thanks for the clarification!

[2017-01-17 20:52] #958 closed

[2017-01-17 23:35] wllang opened #959 "Re-think br_table."
The separation of the `br_table` target blocks from the `br_table` operator seems to cause: less constrained code than is needed in some ways but still too constrained than needed in other ways, deep nesting of explicit blocks, and a corner-case constraint on the target values stack for which the complexity of handling might not be warranted.

People have already complained about the deep nesting.

[2017-01-18 09:54] rossberg-chromium commented on #897
Seems like the only change we have consensus on is disallowing segments whose start address is out of bounds (which is a change in the zero-sized case -- the "weird" case mentioned above). Any disagreement with that change in particular?

[2017-01-18 11:57] kovalenko0 opened #960 "why not java or .net?"
Why not just run JVM or .net bytecode in browser?

In that case we could benefit from infrastructure of these platforms and already implemented interpreters

[2017-01-18 13:17] krux02 commented on #960
I am new to WebAssembly too. But I guess this has already been been asked several times. Maybe it should be in the FAQ.

My guess is that it is because .net and jvm are not only bytecode, they are a virtual machine with their own garbage collection and class loader and reflection. WebAssembly is really just about low level operations platform independent in the browser. I think you could run a JVM

[2017-01-18 13:57] Kardax commented on #960
It's more accurate to think of Web Assembly as an evolution of asm.js, rather than a completely new technology.  The only capability it really has over asm.js is 64-bit integers, which aren't even needed for most programs.  This limited scope allows it to be integrated with relative ease into existing JavaScript engines.

One of the veterans from the Web Assembly project will probably have a more

[2017-01-18 16:53] lukewagner commented on #857
So getting back to this: I think the root concern here is that these initializer expressions will eventually be generalized to essentially full-powered function bodies or at least fully generalized expressions and then we'll want to do things like parallel compilation if there are many of them.

However, that is necessarily not the case.  First, initializer expressions have no valid execution envi

[2017-01-18 17:25] Kardax commented on #857
As someone who recently wrote a WASM parser, I found `init_expr` to be intimidating... initially.  After that momentary panic, it was clear that with only 5 allowed opcodes (and simple opcodes at that), it really wasn't a big deal.

Every added opcode increases difficulty of use as an `init_expr` parser has to become that much closer to a fully-featured function body parser.  Adding anything that

[2017-01-18 17:37] rossberg-chromium commented on #857
@Kardax, the easiest source of samples with good coverage probably is the test suite in the spec repo (currently at https://github.com/WebAssembly/spec/tree/master/interpreter/test). You can convert these .wast files into .wasm using either the spec interpreter or a tool like wabt.

[2017-01-18 18:51] distransient commented on #960
Jvm and .Net bytecodes are specialized for their relevant virtual machines, each of which have their own concerns and problem spaces they're trying to solve separate of the virtual machines ran in web browsers. Adapting an entire second virtual machine to run on web browsers would be cumbersome for users, and adapting Jvm and .Net vm apis to run within existing virtual machines would be implementa

[2017-01-18 18:51] kmiller68 commented on #857
@lukewagner, I think I have been convinced that the length isn't necessary (although I still think it would be a good safety net). So, I'm willing to withdraw my objections.

[2017-01-18 21:02] wllang commented on #857
If all that is needed and will even be needed is a global constant reference plus a constant offset then I suggest just encoding those and forget about the init_exp. Could even the offset be handled in a community developed decoder, and what about the global constant too, so might this just need a constant value? Why provision for features in the wasm file format that could be handled efficiently

[2017-01-18 21:15] jfbastien commented on #960
I was sure we had something about this in the FAQ or Rationale documents. We don't. It would be a great addition.

[2017-01-18 21:27] wllang commented on #960
@kovalenko0 If I can offer my opinion. JVM and .net did not do well on the web because they would have added a significant attack surface and thus a significant burden and also bloat. If in future they could run within the wasm sandbox then that would add a layer of protection that might mitigate the burden. Wasm for now seems focused on a low level language close to the hardware, and hopefully a

[2017-01-18 23:03] wllang commented on #960
@kovalenko0 Oh, and getting all the web browser vendors to agree to bundle a JVM and .net might have also been too much of a barrier (I expected for reasons such as the attack surface and bloat but perhaps for much more petty reasons too), so asm.js worked with what was common ground. Wasm might allow people to use JVM or .Net on the web even without agreement between the web browser vendors, and

[2017-01-19 17:05] rossberg-chromium commented on #897
Okay, there seems to be no disagreement on that point, so I took the liberty to land WebAssembly/spec#399, which makes the spec match the design doc while making the aforementioned small change.

[2017-01-20 05:26] mtrofin opened #961 "WebAssembly.instantiate returning a pair: what attributes do the properties have?"
If the return of a WebAssembly.instantiate is the pair with the 2 properties - module and instance - what can we say about those properties? Are they read only, for instance?

[2017-01-20 08:30] rossberg-chromium commented on #961
Actually, I think that varying the return type based on the argument is unnecessarily surprising. The functionality is also redundant. This overload is primarily a shortcut for (the majority of) clients who just want the instance. Those that actually need the module can always call `W.compile` first.

So, I would suggest we just get rid of the pair, thereby simplifying `W.instantiate` for most use

[2017-01-20 14:39] yurydelendik commented on #857
I somewhat agree that for very limited expression format we don't need length and considering it is listed as a language type in BinaryEncoding it will/might require some special parser (different from function body one). I'm closing the issue. Perhaps having example/description/format of the possible values in the BinaryEncoding's init_expr description will avoid future concerns.

[2017-01-20 14:39] #857 closed

[2017-01-20 14:54] lukewagner commented on #961
I think the high-level logic for any app with a sizable wasm module should be (in pseudocode, pretending everything is sync, ignoring versioning, failure etc):
[code]
So we definitely need this raw capability and it will be the common case for any beefy app.

But it's fine with me if you want to propose having `instantiate` always return just the instance and give the `{module,instance}`-pair-retu

[2017-01-20 15:12] rossberg-chromium commented on #961
@lukewagner, fair enough, but this is even slightly less repetitive: :)
[code]
(Probably need to make that an async function and sprinkle in the right awaits in both versions.)

Anyway, yeah, if we want this, I'd feel better making it a separate function. I just can't think of a nice name.

[2017-01-20 16:53] jfbastien commented on #961
Without the `Module` how would you access `Module.{exports,imports,customSection}`? We could add `Instance.module`.

[2017-01-20 17:22] lukewagner commented on #961
@rossberg-chromium I know, but the resolution of #838 is that `WebAssembly.instantiate` should be used by default and that pattern would use `compile` for all cold loads.

@jfbastien The problem with that is it would add a GC edge so that instances would keep their modules alive.  The module contains metadata needed for structured cloning and instantiation that you want to be able to GC as soon as

[2017-01-20 17:33] jfbastien commented on #961
What's "that"? Agreed that `Instance.module` keeps the `Module` alive.

I'm not proposing anything, I'm asking how one can use the `WebAssembly.instantiate` API and still access `Module.{exports,imports,customSection}`. My impression is that this is important. Do you think otherwise?

Given your assessment, which solution would you propose?

[2017-01-20 19:16] lukewagner commented on #961
@jfbastien "That" would be adding a '.module' property to instances.  At the moment (in JS.md and in FF), there isn't any problem: when you call `instantiate` you get back both the module and instance as a pair.

[2017-01-20 19:17] jfbastien commented on #961
@lukewagner sure. That still doesn't resolve the question I ask.

[2017-01-20 19:23] lukewagner commented on #961
[code]

[2017-01-20 19:37] jfbastien commented on #961
@lukewagner that won't work if `WebAssembly.instantiate` doesn't return the pair, as is being suggested. I'm not sure there's a point in having two version, one returning the pair and one not, given that ignoring one of the two returned values is trivial.

[2017-01-20 19:42] mtrofin commented on #961
I thought that the motivation, alternatives, and design for this were discussed in #838.

Assuming we stay the course with the current API - any stance on what the properties should be attributed as?

[2017-01-20 22:14] lukewagner commented on #961
@jfbastien Ah, I was already assuming we're keeping the returned pair and only consider the more superficial change of renaming.  Personally, I'd rather not, but I'm not all that familiar with what the precedent is for overloads like this.

@mtrofin Sorry your root question was lost :)  The current wording "On success, the Promise is fulfilled with a plain JavaScript object pair `{module, instance

[2017-01-20 23:48] mtrofin commented on #961
Thanks!

[2017-01-20 23:48] #961 closed

[2017-01-21 06:34] mtrofin commented on #948
I suppose we can close this - the group's position is to leave the APIs as Arrays.

[2017-01-21 06:34] #948 closed

[2017-01-21 06:35] #946 closed

[2017-01-22 00:24] sunfishcode opened #964 ""name" section for globals?"
BinaryEncoding.md describes a "name" section, which contains names for defined functions. However, there is currently no section for names for defined memories, defined tables, defined globals, or types.

Is this intended? Obviously, function names are the most important of those, however when debugging code it would be nice to see things like `get_global stack_pointer` instead of `get_global 3` o

[2017-01-22 22:49] lukewagner commented on #964
That's a good point.  So we could just bake in more kinds of names into the fixed structure of the name section, or we could add some `varu32` bitmap field (to the beginning of the names section) that declares which kinds of names are present.  That would allow us to backwards-compatibly add new kinds of names in the future.

[2017-01-23 18:49] dtig opened #966 "Memory.grow when delta=0?"
Performing Memory.grow with delta d, should DetachArrayBuffer(M.[[BufferObject]]). As per my understanding the use case for grow(0), is to query memory size. Should the buffer object be detached when delta=0 as well?

[2017-01-23 19:31] lukewagner commented on #966
That's a good question.  We still haven't decided to remove `current_memory` (in #904) and from JS you can always test `memory.buffer.byteLength`, so probably those two would be the preferred way to query memory size.  Moreover, *maybe* there is some object-capabilities/revocation-type reason why one might want to do a `grow(0)` with the intent of detaching the extant `ArrayBuffer`?

[2017-01-23 22:50] eholk commented on #966
One concern with having `(grow_memory 0)` not detach the buffer is that if we grow by a non-constant amount, you'd get different side effects if the value happened to be zero versus otherwise. It seems to me that `grow_memory` should be consistent and always detach. Then it seems like we'd want a way to query the current memory size without detaching, which seems like an argument in favor of keepi

[2017-01-23 22:58] jfbastien commented on #966
What's the usecase for calling `grow_memory` with a value of `0`?

A user-side memory manager *has* to keep track of its total allocated memory, right? Asking the runtime "how much memory do I have" seems to be a performance pitfall. Parallel this to C: `malloc` doesn't call `mmap` or `sbrk` on every invocation.

[2017-01-23 23:02] eholk commented on #966
I think it would mostly be during initialization. For example, modules can specify a minimum and maximum size, but it may not know what size its memory is to start with. Of course, there are other ways to find out or provide this information, so maybe burning an opcode for it doesn't make sense.

[2017-01-25 09:24] titzer commented on #966
I think it's OK to have a dedicated op. It expresses the intent of the program and doesn't overload a state changing operation to be a query operation. For those reasons, my preference would be that a `grow_memory(0)` would detach the buffer, making a nice guarantee that if `grow_memory(x)` does not fail by returning `-1`, the old memory buffer is detached.

[2017-01-25 10:51] titzer commented on #937
Closing, as this issue is already on the roadmap.

[2017-01-25 10:51] #937 closed

[2017-01-26 00:36] sunfishcode commented on #746
This is now fixed in https://github.com/WebAssembly/design/pull/955.

[2017-01-26 00:36] #746 closed

[2017-01-26 20:16] DLehenbauer opened #968 "String encoding is often unspecified"
In BinaryEncoding.md, 'fun_name_str' and 'local_name_str' specify "valid utf8 encoding".

Other string fields are less specific about the encoding (e.g., "module string of module_len bytes").

I assume utf8 is permitted everywhere?

[2017-01-26 20:54] jfbastien commented on #968
BinaryEncoding.md should only specify length + bytes. It's not a string, but rather a collection of bytes, and is treated as such.

An embedder such as JavaScript *then* can restrict encoding to something it can handle, such as UTF-8. This is what JS.md should do.

Any divergence from this is a spec bug.

[2017-01-26 21:04] Kardax commented on #968
Hypothetically, an embedder could _ban_ UTF8, also.  There are no assurances of interoperability among embedders built into the current spec.

[2017-01-27 17:54] DLehenbauer commented on #968
I'm assuming that the motivation is to emphasize that, at the binary level, strings are always treated as opaque binary keys and that the embedder has flexibility/responsibility in how it handles invalid identifiers, case-folding for case-insensitive languages, etc.

If so, perhaps BinaryEncoding.md could be explicit about the opaque treatment of strings, and still state that strings are UTF-8 enc

[2017-01-27 18:26] Kardax commented on #968
The JavaScript API requires UTF-8 for every string it uses.  So, if you intend to run your compiler's output directly in a web browser, UTF-8 is what you want.

The binary encoding document makes no mention of JavaScript at all.  It's extremely "pure"... it tells you everything you need to know about reading and writing WASM without no discussion about how it fits into a larger ecosystem.  You rea

[2017-01-27 18:56] Kardax commented on #960
I'm willing to write up an addition to the FAQ by combining the answers here, but what's the contribution process for this project?

[2017-01-27 19:04] titzer commented on #960
Make sure you've joined the community group, and then submit a PR to the
design repo.

On Fri, Jan 27, 2017 at 7:56 PM, Ryan Lamansky <notifications@github.com>
wrote:

[2017-01-27 19:30] jfbastien commented on #960
[Contributing](https://github.com/WebAssembly/design/blob/master/Contributing.md) details. They're linked to from the "new PR" page 😁

[2017-01-28 04:45] metacritical commented on #219
I think it is extremely important for some of us who are looking at Browser and Webgl to be faster for gaming. I intent to bring a commercial quality game in webgl  but the current tech produces so much garbage that frames skip.
Browser gaming using JS game engines has almost failed and Unity took off. I think C++ => Wasm is an undue advantage for these big Unity like framework makers who could cr

[2017-01-28 14:27] Kardax commented on #219
@metacritical C++ can compile to WASM because many people put a lot of work into the process.  The same could happen for JavaScript, but as far as I know, no one is attempting this currently.  There is little reason to do so: performance will be unchanged.

Your engine's problem is garbage collection.  This problem doesn't go away if you build a garbage collection algorithm that uses linear memory

[2017-01-28 14:41] metacritical commented on #219
Ultra pristine Javascript that reuse Arrays and produce low garbage are extremely hard to write.

[2017-01-28 16:03] Kardax commented on #219
@metacritical Difficult, but not impossible.  Even in the C++ engines, much of the code is around object lifetime management.  Although unconventional, there's no reason you can't do the same in JavaScript.

Plain JS _could_ be compiled to WASM but the compiler would have to add a lot of helper code to enable JavaScript's higher-level features like garbage collection, reflection, properties, and s

[2017-01-28 16:41] kripken commented on #219
Correct, and actually the main way we compile C++ to wasm today is to compile it to asm.js first, then compile that asm.js to wasm using [Binaryen's asm2wasm](https://github.com/WebAssembly/binaryen/blob/master/src/asm2wasm.h).

[2017-01-29 02:18] metacritical commented on #219
@kripken  Looking at the asm.js specs it seems easy to write handwritten asm.js, which means all is not lost for js programmers, we can still get WASM binaries using the above.

[2017-01-29 17:08] Kardax commented on #960
I was initially planning to add a section below LLVM, but seeing as that section was written in 2015, some parts of it are outdated.  For example...

...seems far too cautious given that the current WASM binary encoding is working flawlessly in browser previews.

I'm now considering replacing the LLVM section with a more general discussion about existing byte codes (mentioning LLVM, Java, and .NET

[2017-01-29 17:50] jfbastien commented on #960
@Kardax what to do with the LLVM section would be up to @dschuff / @sunfishcode.

[2017-01-29 20:48] wllang commented on #960
@kardax Perhaps it's better to not add anything because there are a lot of pros and cons in different designs and still a lot of improvements that could be made to wasm. Asm.js might have been 'working flawlessly' from your perspective, and in some ways had better performance than wasm, so there is more to it. You might want to explore the parsing/decoding and compilation times and performance.

[2017-01-30 02:11] Kardax commented on #960
@wllang ...what are you talking about?  I never said ASM.JS had better performance than WASM.  I think you completely misinterpreted what I wrote.  I also strongly disagree that there are lot of improvements to make to WASM's current binary encoding for MVP; I'd say it's about 98% good to go as-is, and I could live without the last 2%.

@dschuff  / @sunfishcode Is the lengthy discussion of LLVM bi

[2017-01-30 03:05] wllang commented on #960
@Kardax Sorry, did not intend to imply you 'said ASM.JS had better performance than WASM'. But for example Asm.js has constant module variables and these can be baked into compiled code and that is something that wasm does not have and that was very useful and get a similar feature in wasm requires user code to rewrite the module.

How could a group objectively assess a claim that wasm is within 2

[2017-01-30 06:18] jayphelps opened #969 "module imports cannot synchronously access exports if it autostarts"
When using the JS API to dynamically link imports to a wasm module, if that module has an autostart e.g. `(start $main)` then those imports cannot synchronously access any of the modules exports. Basically you can't have synchronous cyclic dependencies.

There are workarounds:

* Don't autostart
* Have wasm module import everything that is cyclic (depending on what it is, e.g. import the table) in

[2017-01-30 06:28] jayphelps commented on #969
Another solution: when invoking an imported function, call it with the `this` context of the module instance itself. (assuming it has not been bound itself via `fn.bind(context)`)

[code]

[2017-01-30 07:43] sunfishcode commented on #960
@Kardax Yes, the discussion of LLVM IR is still relevant, for at least some audiences.

As an aside, you mention "viability" and "working flawlessly", but I'd suggest that at this level, those are essentially taken for granted. Many kinds of things could have been made to work; the question is, why was one chosen instead of others?

[2017-01-30 08:02] rossberg-chromium commented on #969
Wasm modules and the JS API aren't really designed to support cyclic linking (a.k.a. recursive modules). A semantics for recursive modules is very tricky to define in the presence of implicit initialisation or imports/exports that aren't just functions. In Wasm you can emulate limited forms of cyclic linking by import indirection through JavaScript functions, but that is more like a workaround. If

[2017-01-30 12:22] rossberg-chromium opened #970 "UTF-8 decoding of import/export names in JS"
Related to #968, I noticed that https://github.com/WebAssembly/design/blob/master/Web.md#names says:

There are at least two problems with this.

The first sentence is simply incorrect. JS property names can be arbitrary strings, and JS strings are arbitrary sequences of (unsigned) 16 bit values. They can happily contain zeros or lonely halves of what would be surrogate pairs. The only relevance o

[2017-01-30 13:54] Kardax commented on #970
1. This would limit names to the Basic Latin (aka ASCII) and Latin-1 Supplement blocks.  Seems like an unnecessary restriction to me.  It disallows interesting scenarios that could leverage higher code points while still accepting code points not legal in names with many mainstream languages.
2. I like this.  Might be worth a single debug console warning that reports that one or more unusable name

[2017-01-30 14:17] rossberg-chromium commented on #970
@Kardax, re 3, validation is no reliable check for successful instantiation. There are a number of failures that only occur at instantiation/link time, because they depend on the circumstances. Arguably, import/export names fall into this class: you only have a problem when you try to link them via JS objects. In the future, there will probably be ways to link groups of modules more directly that

[2017-01-30 16:11] lukewagner commented on #969
Or, more efficiently, tables :)

[2017-01-30 16:20] lukewagner commented on #970
Agreed that the current wording is problematic.  I think we shouldn't restrict to latin1 and I like loud errors over silent ones, so I think it makes sense to throw during instantiation if utf8 decoding fails when trying to produce a JS string (option 3).

[2017-01-30 16:42] Kardax commented on #970
An issue with the loud error of Option 3 is it makes the JS embedding the least common denominator for a cross-platform (or cross-embedding) WASM file.  The binary encoding spec that claims support for any bytes in names becomes unworkable in the real world.

If Option 3 is the consensus, the binary encoding spec should require UTF8.  I think this would be beneficial for many reasons, chief among

[2017-01-30 17:12] rossberg-chromium commented on #970
I don't think it makes sense to require UTF-8, or anything else, in the core spec. Some non-web environments might have different constraints, and might not even be able to handle UTF-8 strings. And for the web platform, later failure seems pretty much in line with everything else (though soft failure a la 2 would be, too).

[2017-01-30 17:14] jfbastien commented on #970
2. sounds like the simplest approach TBH. I'd rather not force UTF-8 in the core spec because wasm isn't JS-specific.

We can also take another approach where invalid code points and mismatched pairs get replaced by the replacement character.

This text should also speak about normalization. Do we:

A. Forbid / error / ignore non-normalized inputs.
B. Automatically normalize wasm inputs, and compa

[2017-01-30 17:17] jfbastien commented on #969
I agree that it's simpler to disallow cyclic linking for now, but post-MVP we've talked about interfacing with ES6 Modules for real. When we do this, it would be odd to *not* support cyclicality given that ES6 Modules do (and I mean cycles with and without JS modules).

Does the current design of wasm make it possible to add cyclicality post-MVP?

[2017-01-30 17:52] rossberg-chromium commented on #969
Last time I looked, ES6 modules did not simply allow recursive linking either. And ES modules aren't even typed.

There are features in Wasm that make it somewhat difficult already, e.g. globals, tables or memories. It's not clear what you want to allow and what not, especially if you want to avoid the nasty business of constructing global cross-module dependency graphs for all individual definiti

[2017-01-30 17:54] lukewagner commented on #970
@Kardax I expect that a wholly-non-web ecosystem would not have much interoperability with the web ecosystem (due to totally separate APIs) and thus would be able to define a completely different meaning for imports/exports since there wouldn't be an expectation that these modules were loadable via the web.

@jfbastien Practically speaking, I like being able to reuse current UTF8-to-JS-string func

[2017-01-30 17:58] jfbastien commented on #970
@lukewagner I'm not sure what part of my answer you're answering. I totally agree with your statement, and that's what I implemented as well. I have a mild preference for 2. which matches well with what you say.

My suggestion of replacement character is simply adding one approach to the ones @rossberg-chromium documents. It's something that's done with Unicode, we should consider it.

Normalizati

[2017-01-30 18:01] lukewagner commented on #969
@rossberg-chromium I don't know what you mean by "does not simply allow recursive linking either", but if we're talking about simply allowing two ES6 modules to import each other, I'm pretty sure that is allowed (and implemented).

So I think JS has it hard because, iiuc, you're allowed to run JS in an ES6 module whose top-level script hasn't run and thus you have to very carefully define what tha

[2017-01-30 18:03] lukewagner commented on #970
@jfbastien Oh, I was just responding to the replacement proposal; I wasn't aware of existing spec-defined algorithms that we could reuse here, though.

Anyhow, I have a preference for 3.

[2017-01-30 18:27] jfbastien commented on #969
[test262](https://github.com/tc39/test262/tree/master/test/language/module-code) seems to have tests for "cycle" and "circular". Granted some seem to currently [fail in V8](https://github.com/v8/v8/blob/5ed733737e0241af2bf939fec1f82af24b5a0d52/test/test262/test262.status#L539) due to a [spec change](https://bugs.chromium.org/p/v8/issues/detail?id=5486).

It's not "what I want to allow". It's rathe

[2017-01-30 18:29] jayphelps commented on #969
Indeed circular imports are intentionally supported by ES Modules. There isn't one particular section AFAIK that calls this out, but part of the semantics that make this happen are here: http://www.ecma-international.org/ecma-262/6.0/#sec-resolveexport (and elsewhere). This is one of the many reasons ES modules are superior to CommonJS

[2017-01-30 18:32] Kardax commented on #970
@rossberg-chromium An environment unable to at least convert UTF-8 to a native format wouldn't be sophisticated enough to load WASM in the first place.

@lukewagner That isn't necessarily true.  A good example would be a complex math library that has applications for WebGL games and scientific computing.  To avoid the need for separate web and non-web builds, a cross-compatible import/export schem

[2017-01-30 18:35] jfbastien opened #971 "Unicode normalization"
Forking from #970: JS.md talk about [Unicode normalization](http://unicode.org/reports/tr15/).

A simple example from that document: my name "Jean-François Bastien" can be normalized two ways with

  Ç	↔	C+◌̧

This is a nice gotcha in Unicode. While interfacing between JS and wasm it would be good to know what to expect from producers and consumers. **We may choose not to normalize, but we should

[2017-01-30 18:36] jfbastien commented on #970
@lukewagner OK I forked the normalization question to #971. Let's focus this issue on @rossberg-chromium's 3 proposals + replacement character.

[2017-01-30 18:38] flagxor opened #972 "API Concerns with Structured Clone for Wasm Modules"
Some have expressed concerns that structured clone for wasm modules is a bad choice of contact point into the web platform.
In particular, it has these drawbacks:
* It encourages modules with the origin in which WebAssembly.compile was done, rather than the url of the bytes came from.
* It encourages use of IndexedDB as an application managed compilation cache, rather than leveraging the existing

[2017-01-30 21:02] wllang commented on #970
@lukewagner

I am seeing reasons for the non-web ecosystem to interoperate with the web: libraries written in wasm that can be use on and off the web; code for non-web browser contexts that might be developed and tested in a web browser with an emulation API and run at high speed as compiled wasm code in the browser.

Assuming that in practice a user defined translation layer will be used (to deco

[2017-01-30 21:25] titzer commented on #972
Another option which I personally prefer would be to allow a new XmlHttpRequest response type (e.g. `WebAssembly.Module`), which doesn't introduce new API surface area and is an even stronger hint to the browser to start, e.g. streaming compilation while downloading.

[2017-01-30 21:26] lukewagner commented on #972
The main two specific concerns that I've heard so far that make sense to me are:
* `window.postMessage` and `window.onmessage` are error prone APIs that are generally discouraged and we shouldn't be encouraging use of these APIs for people wanting cross-origin caching/reuse
* use of IDB to cache code in insecure contexts makes it easier for a one-time MITM attack (against the insecure origin) to p

[2017-01-30 21:30] lukewagner commented on #969
@jfbastien Well, "not pretty", but I don't think @rossberg-chromium is considering the JS definition to be pretty either.  I think the more important question would be: would it be any more complicated than what's already in place for ES6 modules.

[2017-01-30 21:32] jfbastien commented on #969
Agreed. I don't think we have an answer to this question at the moment.

[2017-01-30 21:35] lukewagner commented on #970
@Kardax That's a fair point.  Then another way to think of the UTF8 requirement is that it's just part of the ABI, which is the set of all the conventions that statically- or dynamically-linked modules should obey if they want to work together, but which are not baked into the spec.  Then, just as a non-C/C++ language ecosystem might have a totally different stack ABI, it may also want a more stru

[2017-01-30 21:42] bzbarsky commented on #972
This is the first I've heard about this so would appreciate concrete pointers.  In particular, postMessage is supposed to be _the_ API for cross-site communication, so if it's being dicouraged, what is being encouraged instead?

[2017-01-30 21:42] lukewagner commented on #969
So at least for my part, I investigated this a while back with our ES6 module people and I wasn't able to find any unresolvable contradictions or impedance mismatches (using the "fault if you try to call an export before the start function has been called" semantics).  Certainly happy for more people to dig in, though.

[2017-01-30 21:44] Kardax commented on #971
1, 2, and 3 seems like a good source for esoteric bugs in JS engines.

I vote 4.

[2017-01-30 21:47] lukewagner commented on #972
(Mostly forwarding @jeisinger's comments, so feel free to chime in)
@bzbarsky Maybe I overstated the case, but just these [Security Concerns](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage#Security_concerns) about needing to verify the sender's origin.

[2017-01-30 21:52] bzbarsky commented on #972
Well, right, you have to do that.  :)

[2017-01-30 21:53] lukewagner commented on #971
I think the `convertToJSString` function Web.md#names already specifies 4.  Seems fine to add clarifying text to say that no normalization occurs, though.

[2017-01-31 00:24] titzer commented on #972
Other advantages of using an XHR response type are:

- the browser gets to prepare for streaming compilation as soon as possible, e.g. even as it starts network requests
- WebAssembly.compile() is nominally implemented in the JS engine and it'd be weird for it to either have an API out to its embedder to handle URLs, or for it itself to be implemented in the JS engine
- XHRs inherently have origin

[2017-01-31 00:45] esprehn commented on #972
As discussed in the other thread, I don't think postMessage of wasm modules makes sense. It seems to be addressing the issue that `.compile()` doesn't accept a URL like JS/CSS/etc. so the underlying system can't implement streaming and caching for you like we do for other resources.

In general I don't see a difference between WASM, JS, CSS, Images, and the other resource types. They all are:
- Ex

[2017-01-31 00:57] esprehn commented on #972
@drufball @bfgeek

[2017-01-31 01:58] wllang commented on #972
@esprehn The performance of wasm code depends on baking in information that depends on the target features and the resources allocated or promised. Many uses case have been deferred to being implemented in user code in a translation stage between the data streaming in and the web browser wasm compiler. For example: user defined code compression strategies; dealing with differences between web brow

[2017-01-31 02:53] jeisinger commented on #972
I would like to see an API that allows for strongly tying a WebAssembly module to an origin. We should require CORS for exceptions throwing inside a cross origin module to bubble to the embedder, and we should be able to do mixed content checking.

I think that once we tie modules to origins, all use cases that currently require structural cloning would naturally work.

You wouldn't need the other

[2017-01-31 04:09] jayphelps commented on #972
fetch does not support cancellation, and since the latest proposal [was withdrawn](https://github.com/tc39/proposal-cancelable-promises/issues/70). I would much prefer that any response types supported by fetch were also supported by XHR so we can optionally cancel them.

[2017-01-31 05:01] flagxor commented on #972
I believe using the collection of in-progress standards described here will make sense for the more common use cases once these APIs are finalized and available in all browsers. This was already the longer term direction we had intended to go, including rationalizing wasm modules in some way with ES6 modules.

However, I'm also skeptical that we can get the proper caching behavior right, in one go

[2017-01-31 05:02] pizlonator commented on #972
@esprehn link to separate thread discussing passing modules in postMessage?

@lukewagner I think I agree with what you're proposing. Specific thoughts:

Makes sense.

I think I agree with this.

I agree with not gating WebAssembly on other things. WebAssembly is a complex beast, so it shouldn't be too coupled to other complex beasts.

I think that if you enable WebAssembly in JSC then you will get

[2017-01-31 06:15] flagxor commented on #972
Agreed I'm not sure it does cover all the cases.

As for your multi worker use case:

For the current api you compile once in one worker or via the async method on the main thread, then post it around.

With the other, presumably you need to post around a message to let everyone know the cache has been prime. One worker would have to compile and added things to the cache (through the cache API whi

[2017-01-31 07:06] rossberg-chromium commented on #971
Agreed with @lukewagner.

[2017-01-31 07:36] pizlonator commented on #972
@flagxor Thanks for that explanation.

That is what I guessed.  This feels very natural.

This feels less intuitive.

The compiling megapause is huge, and the result it produces could also be large - as big as an app binary. We want the client to be able to easily tell when the megapause happens and how long the result lives. Our current API gives us this, so we should stick with it.

Is anyone pr

[2017-01-31 07:47] rossberg-chromium commented on #969
I was under the impression that cyclic linking does not easily work in JS across modules that aren't plain ES source files, e.g. when you need to interop with other JS module formats through custom loader hooks. That would probably affect integration with Wasm as well.

Even for plain ES modules, recursion only works because the language already has various fine-grained dynamic failure modes that

[2017-01-31 09:16] wllang commented on #972
Except that this will not work in general without re-compilation, and if a user translator is in that pipeline than it would need to be part of the module posted plus the original input data.

Also the compiled code will be specific to allocated or promised resources and it does not appear that the sender JS code can practically know the details of the resources that the receiver will have? So the

[2017-01-31 10:33] annevk commented on #972
I was asked to chime in by a couple of folks and only have a basic understanding of the setup, so please bear with me.

Could someone explain what the message passing of wasm code enables? Is the purpose here to compile the code once and then execute the compiled code in multiple workers? Meaning that the compiled code would effectively be shared (readonly I hope)?

And the angst is because this i

[2017-01-31 12:56] wllang commented on #972
@annevk I'll let other people explain their question, but I understand they do want to use message passing and the IndexedDB to enable management of the compilation and caching in JS.

I don't think their approach will work well, but could I explore an alternative as a separate thread of discussion rather than having an absolute position, and so ask how might `fetch()` work with the technical fact

[2017-01-31 13:08] annevk commented on #972
@wllang `fetch()` returns a promise for a response that settles once all the headers are in (but the body is not). I would recommend passing the body (a stream) of that response to your custom decoder that does the translation.

[2017-01-31 14:12] aruns07 commented on #219
Wouldn't evolution of JS i.e. strictly typed language, could make it a good candidate for JS -> WASM?
I think TC39 has proposal for typed object. May be more other features could make it possible.

[2017-01-31 14:29] lukewagner commented on #969
@rossberg-chromium While that is the case for variables which have to execute their initializers in a particular top-level script, iirc, there is a phase before the first top-level script execution that plugs in all the functions across the whole imported graph of modules.  I think that is the phase in which static stuff, like types, would be linked.

[2017-01-31 14:43] lukewagner commented on #972
@annevk Sorry for lack of context; here's some:  So we have a JS object introduced by wasm, `WebAssembly.Module`, that we've currently defined/implemented to be structured cloneable because it is stateless (so not a JS function object, more like an unevaluated function literal).  A `Module` abstractly represents "code I've already compiled" (at some considerable expense) and so intuitively `postMe

[2017-01-31 15:13] annevk commented on #972
Given the concerns raised so far with that approach I'm sympathetic to @esprehn's concerns. It does indeed seem rather novel and not much existing infrastructure is being reused. The deduplication offered with `<script type=module>` could be used here potentially, although for workers you would need more since you want to deduplicate compilation and code across workers, whereas the module map is c

[2017-01-31 15:54] lukewagner commented on #969
@rossberg-chromium Practically speaking, I think non-function imports (globals/memories/tables) would only be used for load-time-dynamic-linking configurations generated by a toolchain and could all be acyclic by construction.  Thus, I think it would be fine to say that these imports are resolved not during function hoisting, but right before the start function is run and that if you try to get a

[2017-01-31 16:51] lukewagner commented on #972
@annevk `postMessage` and IndexedDB are existing infrastructure that are being reused, and they're also in all browsers :)  The question isn't whether we should integrate with `<script type=module>` and other ways to load ES6 modules -- I think we should -- the question is whether there are any hard reason to *stop* supporting structured clone of `Module` and *only* allow sharing via URL (and effe

[2017-01-31 17:22] pizlonator commented on #972
I completely agree with @lukewagner's point. Module is a thing that can be passed around with postMessage and doing so has clear semantics, so forbidding it would be silly.

@annevk

WebAssembly can be used for simple things like "load code from URL and run code" but it exposes something more powerful: you can programmatically generate WebAssembly code in JS or in WebAssembly, call `instantiate` o

[2017-01-31 17:46] sunfishcode commented on #929
Closing; this topic is now being discussed in #930.

[2017-01-31 17:46] #929 closed

[2017-01-31 18:20] sunfishcode commented on #966
There seems to be consensus to avoid special-casing `grow_memory(0)`. Feel free to re-open this or open a new issue if desired.

Whether `current_memory` is a useful operation is covered by the open issue #904.

[2017-01-31 18:20] #966 closed

[2017-01-31 18:23] annevk commented on #972
The way you are using them is not a way that any other new resource type is using them. Not reusing existing fetch infrastructure is also rather novel. I'm not sure ignoring @esprehn's post is helping.

Yeah, understood. Mostly trying to mediate at the moment. (I do think that if we were to offer such functionality we should also have it for JavaScript. Not sure why it would have to be specific to

[2017-01-31 18:32] sunfishcode commented on #964
I missed that https://github.com/WebAssembly/design/issues/750 is already open, which covers this. Closing this issue to move the discussion there.

[2017-01-31 18:32] #964 closed

[2017-01-31 18:37] sunfishcode commented on #750
It's also missing names for globals and memories.

And as a minor nit, there are no distinct names for imports; imports are imported into their respective entities' index spaces, such as the function index space, so for example the existing "name" section covers imported functions.

So to summarize, the wasm binary format currently doesn't have names for:
 - types
 - tables
 - labels
 - globals
 -

[2017-01-31 18:54] sunfishcode commented on #921
Now that we have a PR tracking this, https://github.com/WebAssembly/design/pull/928, we should continue discussion there.

[2017-01-31 18:54] #921 closed

[2017-01-31 19:11] flagxor commented on #972
JS and other resources with large decode costs would also benefit from explicit caching / passing of compiled code in a small subset of use cases. This probably has not happened (yet) because JS also suffers from having a context dependent meaning, and because the majority of these resources are small.

The normal case for JS is that a script tag just works for most things. Adding a basic service

[2017-01-31 19:25] pizlonator commented on #972
@annevk

First of all, @esprehn's post cites another discussion that he hasn't provided a link to. I'd like him to either describe that discussion or show a link. Otherwise, it's hard to follow.

You said:

In JS, the compilation happens whenever the VM feels like doing it because the compilation is coupled to the dynamic type inference, which requires a profiling stage. We're not going to be prov

[2017-01-31 20:56] Kardax commented on #219
@aruns07 The fewer JavaScript features you allow people to use, the easier it would be to compile to WASM, and the more likely people will be unwilling to live with your restrictions due to incompatibility with their favorite libraries.

[2017-01-31 20:58] wllang commented on #972
@annevk So `fetch` returns a stream for the body of the deployed blob, and I presume manages the caching of that blob. However the use case being discussed is far more general, and includes the caching and reuse of the compiled code generated in part from that blob, and just having a stream does not solve the use case that posting modules and storing them in the indexdb is intended to address.

I

[2017-01-31 22:53] sunfishcode commented on #619
I've now created #973 to propose specific text summarizing the above.

[2017-01-31 22:53] #619 closed

[2017-01-31 23:45] sunfishcode commented on #625
The relevant text in (what is now) Semantics.md has since been substantially rewritten, and the specific text highlighted above is no longer present. If anything remains unclear, feel free to re-open this issue or file a new one.

[2017-01-31 23:45] #625 closed

[2017-01-31 23:46] wllang commented on #750
Yes the import names would be converted by the function names. Could this issue subsume https://github.com/WebAssembly/design/issues/861 and close that? Could the local names for functions be applied to the function arguments and thus also the import argument names? None of this is a show stopper.

[2017-01-31 23:59] eholk opened #974 "Document validation/type-checking rules"
Our documents frequently refer to validation errors and make statements about types. If I want to write my own validator or produce valid Wasm code, it is not clear to me where I would find all the rules I should adhere to or check. We should make sure this is clearly documented.

I would be satisfied with "see the spec interpreter" as an answer. I just want it to be clear where the canonical rule

[2017-02-01 00:35] lukewagner commented on #972
@annevk The basic symmetry argument seems reasonable but I think it shouldn't prevent us from starting at a separate point from JS and incrementally moving both wasm and JS towards each other.

So on the wasm side that means the things we've mentioned above and were already planning to do (that's the nature of an MVP; all sorts of good stuff is left out in the first iteration).

And, actually, on

[2017-02-01 01:25] wllang commented on #861
Closing, assume it will be sorted out in https://github.com/WebAssembly/design/issues/750 or be subsumed by more general support for custom debug names.

[2017-02-01 01:25] #861 closed

[2017-02-01 04:02] metacritical commented on #219
@Kardax @aruns07 People love the convenience of a Dynamic Language. We need strong types occasionally not all the time.

[2017-02-01 09:01] annevk commented on #972
Thank you all for the detailed replies. I agree that we need to hear more from @esprehn and @jeisinger or get a pointer to the relevant thread.

[2017-02-01 10:36] wllang commented on #972
@annevk I recalled some other goals that appealed to me personally in past discussions. Let's say that there could be a description of what resources were needed to launch a wasm app, so a description of the URLs to fetch and the pipeline to process them and the linear memory that was needed and the stage at which it needed to be allocated. Then the web browser would have some very useful informat

[2017-02-01 10:55] ibogosavljevic opened #976 "Encoding of signaling/quiet bit in a NaN value"
Hello!

We are supporting MIPS platform to implement WebAssembly on v8. Signaling/quiet bit in NaN on MIPS architecture is opposite of the same bit on ARM/x64: on MIPS it is zero for quiet NaN whereas it is zero for signaling NaN on other configurations.

I couldn't find in the specs: does WebAssembly specification mandates that quiet NaN has a specific bit in the signaling/quit bit or the archite

[2017-02-01 14:30] sunfishcode commented on #976
WebAssembly does require that signaling NaN be encoded with a zero, following the IEEE 754-2008 recommendation and all other relevant architectures. See [the floating point operators](https://github.com/WebAssembly/design/blob/master/Semantics.md#floating-point-operators), where it says "1 in the most significant bit of the fraction field" in NaNs returned by arithmetic instructions.

MIPS has def

[2017-02-01 15:49] annevk commented on #972
So I understood from @jeisinger that the referenced thread is a) internal, b) doesn't contain much information, and c) that loading from a URL is very much a requirement.

I'd like to understand how with URLs these use cases are addressed:

1. Having multiple workers run the same in-memory instance of the compiled code. (As a bonus, do so with only a single fetch, which seems like a requirement gi

[2017-02-01 16:08] pizlonator commented on #972
Also, I'd like to know why loading from a URL is a requirement.

-Filip

[2017-02-01 20:12] esprehn commented on #972
When I said other thread I meant this discussion:
https://github.com/WebAssembly/design/issues/956#issuecomment-272563878

I wasn't referencing any internal discussion.

URLs can be de-duplicated in the fetch the same way as web sites that start multiple JS workers, for example image encoding libraries will start 4 workers to do work in parallel all loading the same script. That's a single fetch a

[2017-02-01 21:14] wllang commented on #972
@annevk

This is not going to be possible in general. For example the x86 32-bit code will likely want to bake in the linear memory base address into the offset field on memory access instructions so unless they all share the same linear memory they can not share "the same in-memory instance of the compiled code". There are other reasons too such as differences in the sandboxing of the linear memo

[2017-02-01 21:46] pizlonator commented on #972
@esprehn

#956 (comment)

I think there's an easy answer to your question: it's not a goal of WebAssembly to have compiling be cached using the browser's other mechanisms.  Instead, it's a goal to let the client manage this using whatever mechanism they like.  We made that the goal because we confirmed that this is what users would prefer.

In this thread, we have already offered many reasons why

[2017-02-01 22:42] Kardax commented on #972
@pizlonator Loading from an `ArrayBuffer` is on the same security plane as `eval` because there is no check on whether the input is from a trustworthy source.  WASM's strictness (particularly the prohibition of multiple code sections) provides a high degree of protection from an injection attack, but this is not enough to completely eliminate risk.

[2017-02-01 22:47] pizlonator commented on #972
@Kardax please describe the injection attack.

[2017-02-01 23:06] Kardax commented on #972
@pizlonator A lot of code between the `fetch` response and `WebAssembly.instantiate` that provides a way for an attacker to modify the `ArrayBuffer` via URL input.  The combination of carelessness, bad design, and luck to achieve this vulnerability is much higher than with JavaScript, but as long as there's a gap between acquiring the `ArrayBuffer` and instantiating the WASM, there's room for stup

[2017-02-01 23:12] wllang commented on #972
@pizlonator

Why don't you take me on if you're so confident in the technical merits of your approach?

An object which is a compiled wasm module does not solve the use case because it might need to be re-compiled when re-used? So a description that allows it to be re-compiled is one solution, and you have not put forward another but I can see it might be possible to pass around an opaque object d

[2017-02-02 04:47] pizlonator commented on #972
@Kardax

I agree that the possibility of a hole exists.

I think that the design goal of WebAssembly has always to be to allow some gap, so that the client can do essentially macro processing.

Let's try to be thoughtful of the trade-offs.  I'm going to try to describe them first without passing judgement.  Please chime in if you agree with my characterization.

Pros of current API:

- It has alre

[2017-02-02 06:17] jeisinger commented on #972
Note that Chrome's implementation actually disables WebAssembly in the presence of CSP (can be whitelisted via unsafe-eval).

Please take the fact that we're having this discussion now as a sign that the structural cloning part has not been successfully bikeshedded with the relevant stakeholders. In fact, Chrome decided not to ship structural cloning of WebAssembly modules for now.

[2017-02-02 06:24] jfbastien commented on #972
@jeisinger

Which part? `postMessage` to worker, IndexDB, and / or something else?

[2017-02-02 06:27] jeisinger commented on #972
I'm interpreting your question as "did you implement any exceptions that would work even though WebAssembly modules don't support structural clone", is that what you meant?

The answer would be that no, there are no exceptions.

[2017-02-02 06:35] jfbastien commented on #972
@jeisinger I meant:

* What does `postMessage` of a `WebAssembly.Module` do?
* What's the result of putting a `WebAssembly.Module` in IndexDB?

Same for other structured cloning.

IIUC you're saying: none of these work in Chrome 58. Is that correct?

[2017-02-02 06:41] jeisinger commented on #972
correct (that is, not without command line flags)

[2017-02-02 08:44] wllang commented on #972
@pizlonator

I've raised the problems above, and no-one has refuted them, so this is an odd statement. If you can't refute them then I suggest that people can not accept this claim.

I don't buy this either, wasm is new and a web browser supporting wasm could reasonably be expected to support features it depends on. A web browser with wasm support and without support for posting module objects and

[2017-02-02 09:02] annevk commented on #972
Is that actually true? We don't define such deduplication in Fetch. Servers could return unique resources each time. And I'm pretty sure there are some cases where such deduplication would break things. If that is a thing you think should work (or does already), please open an issue at https://github.com/whatwg/fetch/issues/new.

As for resource integrity and preloading, those can be used for reso

[2017-02-02 09:10] annevk commented on #956
How would you be able to do that? Presumably you can only ever message an actual `Module` instance (which is backed by a bunch of bits specific to the implementation) and only run that. Just like you don't get access to meddle with the details of `Blob` objects, you wouldn't here either.

[2017-02-02 10:26] ibogosavljevic commented on #976
Hi sunfishcode!

Thank you for your prompt reply. NAN2008 in FCSR flag is introduced in R6 flavor of the architecture. There are no R6 chips on the market currently, R2 and R1 are the chips that are massively used and they do not support NAN2008.

Having to support this kind of NaN on R2 and R1 would introduce too much overhead and it's not worth the effort

[2017-02-02 10:54] gahaas commented on #976
What is the reason why we cannot have the signalling bit being non-deterministic, similar to the sign bit. This would not only allow better support for MIPS but also allow to do constant folding on floats.

[2017-02-02 11:28] congsan commented on #112
![web assembly logo](https://cloud.githubusercontent.com/assets/20281266/22547689/5fa37c0c-e975-11e6-9c75-8f0e49f5afd5.jpg)

[2017-02-02 12:22] rossberg-chromium commented on #976
I suppose that would imply having 4 canonical NaNs, but that seems fine.

[2017-02-02 13:31] sunfishcode commented on #976
According to the [MIPS Architecture For Programmers](https://www.imgtec.com/mips/architectures/mips32/), NAN2008 is optional in release 3.5 and required in release 5. Is this incorrect?

WebAssembly's current rules already do support constant folding of floats.

The rationale for the quiet bit being deterministic is that it's in preparation for the possibility of adding full IEEE 754-2008 support

[2017-02-02 13:57] ibogosavljevic commented on #976
NAN2008 is optional in release 3.5 and required in release 5: this is true. Currently > 99% of the deployed chips are release 1 or release 2, and there is a very small number of release 5 cores.

[2017-02-02 15:54] lukewagner commented on #972
This is surprising and frustrating given that, until recently, experimental wasm support in Chrome *has* included structured clone to the degree that various middleware vendors have already tested interoperable caching between Chrome and Firefox (with the expected massive improvement over a cold load).  Many of these same apps are already caching assets in IDB so caching the wasm alongside is natu

[2017-02-02 16:10] jeisinger commented on #972
I understand that this is disappointing, but I think it's important to stop treating this discussion as a security concern that might or might not exist, but as a discussion about an API surface that we'd be able to ship from a web platform perspective.

[2017-02-02 17:41] pizlonator commented on #976
I don't think we should optimize WebAssembly for MIPS if it means hurting platforms that people use.

[2017-02-02 18:42] juj opened #977 "Do we need a memcpy opcode?"
In a number of game engines I've been optimizing and benchmarking, interestingly the performance of memcpy() does show up relatively high in profiles. (~2%-5% of total execution time)

I did a recent optimization to memcpy in Emscripten, and added some benchmarks. See https://github.com/kripken/emscripten/pull/4127 (especially http://clb.demon.fi/emcc/memcpy_test/results.html)

The result there wa

[2017-02-02 18:42] juj commented on #977
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1254573

[2017-02-02 18:59] lukewagner commented on #972
@jeisinger I totally get that SW is the shiny future here and could ultimately offer ideal performance and ergonomics for a majority (but not all!) use cases.  But it feels like there is an implicit assumption that using structured clone to persist and share things is being considered deprecated as a part of the platform.  If they are, that's one conversation.  But if they're not, then how is stru

[2017-02-02 19:03] lukewagner commented on #977
(Copying over from the bugzilla comment) I think it would make sense to add a page-unit `mempcy` operator to our [finer-grained control over memory list](https://github.com/WebAssembly/design/blob/master/FutureFeatures.md#finer-grained-control-over-memory).  Having page units means wasm can assume the caller is doing all the small-memcpy() optimizations (inlining, unrolling, peeling, etc) and then

[2017-02-02 19:08] jfbastien commented on #977
Dup #236 ?

[2017-02-02 20:19] lukewagner commented on #977
Hah, 2015... seems so long ago.  (It'd be nice to get it listed in FutureFeatures.md, though.)

[2017-02-02 20:19] #977 closed

[2017-02-02 21:11] wllang commented on #972
@annevk

So what happens if a html pages uses an images many times. Would web browsers have some sensible strategy of speculating that it was the same on each request and delaying launching multiple requests until at least the response headers were received.

Is that a hint that this is going nowhere and that you need something far more concrete to consider?

Great point. Would the web browser kno

[2017-02-03 04:38] kumavis commented on #112
casting my vote for https://github.com/WebAssembly/design/issues/112#issuecomment-272718893
![image](https://cloud.githubusercontent.com/assets/1474978/22579758/71cbc6e8-e987-11e6-8c00-41169a0cbb37.png)

simple and has a good story 👍

[2017-02-03 06:06] flagxor commented on #974
The spec interpreter is considered definitive (ish) at this point.

[2017-02-03 06:43] flagxor commented on #886
This is likely a savings in size, but only if done in tandem with more flexible stack ops + multiple return from blocks + functions (ideally with implicit types, but that has other decoding trade-offs)
I suspect it would also be more challenging for a class of producers.

[2017-02-03 13:21] wllang commented on #886
@flagxor It probably only needs `pick` to make it a win or at least neutral. Consider a `get_local` reading a function argument, it could be replaced with a `pick`. In some cases the function arguments might be consumed in stack order avoiding the `pick`. It needs checking, so tool support, and I am some way there, perhaps a few weeks away from being able to demonstrate a `pick` exploiting encodin

[2017-02-03 14:18] jaydonteh commented on #112
Initially I decided to emphasise on the word "WebAssembly" as a whole being a logo, but then it wouldn't be unique. So I decided to come up with an indifferent logo for WebAssmebly, but then again it either look too sophisticated or corporate which is not the strength of it's main usage. In the end I tried to go with the HTML5 logo which inspired my submission.

![wasm logo banner](https://cloud.g

[2017-02-03 17:25] jfbastien commented on #974
@flagxor so addressing this issue merely requires adding links to the relevant spec sections from the design document?

[2017-02-03 21:28] eholk commented on #974
@jfbastien Yes, a link to the relevant sections in the design document would satisfy me.

[2017-02-04 08:10] tabatkins commented on #971
FWIW, CSS doesn't normalize at all either.

[2017-02-04 09:02] luveti commented on #112
Another dev tool snippet to show comments by popularity :D. This one prints everything to the console like so:

![f9057da2e5785c302811f026223b5fc2](https://cloud.githubusercontent.com/assets/4952718/22617201/b92d3b9c-ea8c-11e6-808f-5306ec821c89.png)

PS: It looks like @Fogaccio's logo has been used out in the wild https://simpleprogrammer.com/2016/05/25/webassembly-finally-freed-javascript/

[code

[2017-02-06 18:12] pizlonator commented on #959
It's too late for this.

[2017-02-06 18:12] #959 closed

[2017-02-06 18:12] pizlonator commented on #886
It's too late for this.

[2017-02-06 18:12] #886 closed

[2017-02-06 18:12] pizlonator commented on #954
It's too late for this.

[2017-02-06 18:12] #954 closed

[2017-02-06 18:12] pizlonator commented on #884
It's too late for this.

[2017-02-06 18:12] #884 closed

[2017-02-06 18:12] pizlonator commented on #799
It's too late for this.

[2017-02-06 18:12] #799 closed

[2017-02-06 18:13] pizlonator commented on #784
It's too late for this.

[2017-02-06 18:13] #784 closed

[2017-02-06 18:13] pizlonator commented on #783
It's too late for this.

[2017-02-06 18:13] #783 closed

[2017-02-06 18:13] pizlonator commented on #778
It's too late for this.

[2017-02-06 18:13] #778 closed

[2017-02-06 18:13] pizlonator commented on #751
It's too late for this.

[2017-02-06 18:13] #751 closed

[2017-02-06 18:13] pizlonator commented on #749
It's too late for this.

[2017-02-06 18:13] #749 closed

[2017-02-06 18:14] pizlonator commented on #732
It's too late for this.

[2017-02-06 18:14] #732 closed

[2017-02-06 18:27] jfbastien commented on #838
IIUC Emscripten uses this by default now. Closing.

[2017-02-06 18:27] #838 closed

[2017-02-06 18:30] titzer commented on #819
If-without-else cannot yield a value, since `if X end` is equivalent to `if X else end`, and both blocks have to match the if's type. Thus all if-without-end (sometimes called one-armed-if) constructs must have declared type of the empty block type.

[2017-02-06 18:30] #819 closed

[2017-02-06 20:46] wllang commented on #886
I will respond to the mass defacing of this work area of the CG by @pizlonator in due course, and with solid technical information for the members, but I strongly believe that the decision on when the CG's design is ready to publish is a matter for the whole group and that the W3C made a recent public finding of that. If individual members can not agree or need to wind up their work early then the

[2017-02-06 23:42] rossberg-chromium commented on #897
This seems to be resolved.

[2017-02-06 23:42] #897 closed

[2017-02-06 23:44] rossberg-chromium commented on #907
This is fixed.

[2017-02-06 23:44] #907 closed

[2017-02-07 00:06] slightlyoff commented on #972
Hey all,

Late to the thread. Apologies for making it longer.

Speaking from the perspective of the web platform and loading in browsers, it seems important to note a few things:

 - Using `Response` and bodies _does not require Service Workers_. Doesn't even require the `Cache` API. You can continue to use IDB for code storage if you like.
 - Having a separate (more manual) loading path for your

[2017-02-07 01:38] wllang commented on #972
@slightlyoff Thank you, some more input would be very welcome. Speaking for my own understand of the challenges:

* The resources (the encoded code) can be very large and it is likely that it is all needed before the web app can start, in contrast to small image resources or a streaming videos. Perhaps some new strategies are needed due to this difference.

* Personally I see great value in having

[2017-02-07 02:30] wllang commented on #972
@slightlyoff There were no responses to my input about making the case for provisioning for recompiling code for the specific context, but here is some quick technical support for this position. These are run times for the zlib benchmark (a compression algorithm) running in wasm code. You can see that even my quick attempts at this using a 'pointer-masking' strategy and other approaches that might

[2017-02-07 06:59] jayphelps opened #979 "Future reserved module namespace name(s)"
In the future it may be desirable for wasm and/or wasm hosts wish to provide some inherently available modules. e.g. the [SIMD section](https://github.com/WebAssembly/design/blob/f1f8666b2dd8a75a35a605586517bf99157bd499/FutureFeatures.md#fixed-width-simd) mentions this as one possibility.

Before the gold rush of module namespace squatting/usage, should there be consideration into restricting some

[2017-02-07 07:05] jfbastien commented on #979
I'm not sure I understand: standard sections use numbers, whereas custom ones use names. Doesn't that remove the need for reservations? Modules aren't named (besides their JavaScript variable). Or am I misunderstanding what you have in mind?

[2017-02-07 07:11] jayphelps commented on #979
@jfbastien I'm most likely the one misunderstanding. 😄

Assuming SIMD/WebIDL/etc land, will it always be the host's job (e.g. JS API) to dynamically link these modules with wasm at some by-convention name?

Maybe this helps explain what I'm talking about:

This section mentions:

I assumed it was referring to something like this:

[code]

[2017-02-07 17:36] jfbastien commented on #979
Oh yeah I guess this isn't super clear. The intent for SIMD, if/when it happens, is to be opcodes and not imports. WebIDL is more open: we haven't really settled on where it would be but the obvious place to start is to import from JS and, if/when it makes sense, expose the API directly to WebAssembly. Starting small reduces risk for WebAssembly, and burden on the web platform.

Our general approa